@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  src: url(./assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face {
  font-family: "Work Sans";
  font-weight: 600;
  src: url(./assets/fonts/static/WorkSans-SemiBold.ttf);
}

@font-face {
  font-family: "Work Sans";
  font-weight: 700;
  src: url(./assets/fonts/static/WorkSans-Bold.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(277, 90%, 96%);
  background-image: url("./assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: hsl(294, 56%, 13%);
  display: grid;
  font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  min-height: 100dvh;
  place-items: center;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  width: calc(100% - 2em);
}

.faqs {
  background-color: #ffff;
  border-radius: 0.5em;
  box-shadow: 0 1em 2em hsla(0, 0%, 0%, 0.1);
  min-height: 580px;
  padding: 1em 1.5em;
}

.faqs > header {
  align-items: center;
  display: flex;
  gap: 1.5em;
  padding-inline: 0.25em;
}

header > img {
  max-width: 30px;
}

header > h2 {
  font-size: 2.25rem;
  margin-block: 0.2em;
}

.faqs__list {
  padding: 0;
  list-style: none;
}

.list__q {
  background-color: transparent;
  background-image: url(./assets/images/icon-plus.svg);
  background-position: top 50% right 0;
  background-repeat: no-repeat;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  padding: 0;
  text-align: start;
  width: 100%;
}

.list__q:is(:hover, :focus-visible) {
  color: hsl(281, 85%, 45%);
}

.list__q:has(+ .show) {
  background-image: url(./assets/images/icon-minus.svg);
}

.list__q > span {
  display: block;
  width: 80%;
}

.list__a {
  color: hsl(290, 7%, 40%);
  display: none;
}

.list__a.show {
  display: block;
}

hr {
  border-color: hsla(0, 0%, 0%, 0.1);
  margin-block: 1em;
}

@media (min-width: 700px) {
  body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
  }
  .faqs {
    min-height: 460px;
  }

  .faqs__header > img {
    max-width: 80px;
  }

  .faqs__header > h2 {
    font-size: 3rem;
  }

  .list__q {
    font-weight: 700;
  }
}
