@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Young Serif";
  font-weight: 400;
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

:root {
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-300: hsl(322, 100%, 98%);
  --color-neutral-500: hsl(29, 53%, 90%);
  --color-neutral-800: hsl(40, 4%, 16%);
  --color-neutral-900: hsl(20, 3%, 19%);

  --color-brown: hsl(16, 47%, 38%);
  --color-purple: hsl(332, 34%, 37%);

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

body {
  background-color: var(--color-neutral-500);
  color: var(--color-neutral-800);
  font-family: "Outfit";
  font-weight: var(--font-weight-regular);
  display: grid;
  line-height: 1.7;
  margin: 0;
  place-content: center;
}

h1,
h2:not(.intro__times > h2) {
  font-family: "Young Serif";
  letter-spacing: 1px;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  margin-inline: auto;
}

.recipe {
  background-color: var(--color-neutral-100);
  max-width: 50em;
  padding-block-end: 3em;
}

section {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}

.intro__img {
  grid-column: 1 / -1;
}

section > :not(.intro__img) {
  grid-column: 2;
}

.intro__img {
  margin-block-end: 2em;
}

h1 {
  color: var(--color-neutral-900);
  font-size: 2.125rem;
  line-height: 1.2;
}

h1 + p {
  margin-block-start: 1em;
}

.intro__times {
  background-color: var(--color-neutral-300);
  border-radius: 1em;
  margin-block: 2em;
  padding: 1em 1.5em;
}

.intro__times > h2 {
  color: var(--color-purple);
  font-size: 1.375rem;
  margin: 0;
}

ul,
ol {
  display: grid;
  gap: 0.5em;
}

ul {
  list-style: none;
  padding-inline-start: 0.5em;
}

ul > li {
  align-items: center;
  display: flex;
}

ul > li::before {
  align-self: center;
  aspect-ratio: 1;
  background-color: var(--color-neutral-800);
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 0.25em;
  margin-inline-end: 2em;
}

.intro__times li::before {
  background-color: var(--color-purple);
}

section:not(:first-of-type, :last-of-type) > :last-child {
  border-block-end: 1px solid hsl(0, 0%, 90%);
  padding-block-end: 1em;
}

h2 {
  color: var(--color-brown);
  font-size: 1.75rem;
  font-weight: var(--font-weight-semibold);
}

.recipe__instructions > ol {
  padding-left: 1.5em;
}

.recipe__instructions li::marker {
  color: var(--color-brown);
  display: inline-block;
  font-weight: var(--font-weight-semibold);
}

.recipe__instructions li {
  padding-left: 1em;
}

.recipe__nutrition p {
  margin-block-start: 1em;
}

.nutrition__table {
  border-collapse: collapse;
  margin-block-start: 1em;
}

.nutrition__table tr:not(:last-of-type) {
  border-block-end: 1px solid hsl(0, 0%, 90%);
}

.nutrition__table th {
  font-weight: var(--font-weight-regular);
  padding-block: 0.5em;
  text-align: start;
  padding-inline-start: 2em;
  width: 50%;
}

.nutrition__table td {
  color: var(--color-brown);
  font-weight: var(--font-weight-semibold);
  width: 50%;
}

@media (min-width: 50em) {
  body {
    font-size: 1.125rem;
    margin-block: 7em;
  }

  .recipe {
    border-radius: 1.5em;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.1);
  }

  h1 {
    font-size: 2.875rem;
  }

  .intro__img {
    border-radius: 1em;
    grid-column: 2;
    margin-block-start: 2em;
  }
}
