@font-face {
  font-family: "Raleway";
  src: url(./Raleway-VariableFont_wght.ttf);
}

:root {
  --color-gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);

  --color-neutral-100: 0 0% 100%;
  --color-neutral-200: 243 100% 93%;
  --color-neutral-500: 229 7% 55%;
  --color-neutral-700: 228 56% 26;
  --color-neutral-900: 229 57% 11;

  --font-family: "Raleway", system-ui, sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

.bg-dark {
  background-color: hsl(var(--color-neutral-900));
  color: hsl(var(--color-neutral-200));
}

.bg-medium {
  background-color: hsl(var(--color-neutral-700));
  color: hsl(var(--color-neutral-200));
}

.bg-light {
  background-color: hsl(var(--color-neutral-100));
  color: hsl(var(--color-neutral-500));
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-grey {
  color: hsl(var(--color-neutral-500));
}

.text-black {
  color: hsl(var(--color-neutral-900));
}

.text-regular {
  font-size: 1rem;
}

.text-large {
  font-size: 2.5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.rounded {
  border-radius: var(--radius, 0.5em);
}

body {
  background-color: hsl(var(--color-neutral-900));
  background-image: url(./images/bg-desktop.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  color: hsl(var(--color-neutral-200));
  display: grid;
  font-family: var(--font-family);
  margin: 0;
  min-height: 100dvh;
  place-content: center;
}

.main-container {
  display: grid;
  gap: 2em;
  grid-template-columns: auto 1fr;
  margin-inline: auto;
  max-width: 60em;
  padding-inline: 1em;
}
