@font-face {
  font-family: "Raleway";
  src: url(./Raleway-VariableFont_wght.ttf);
}

:root {
  --color-gradient: to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%);

  --color-neutral-100: 0 0% 100%;
  --color-neutral-200: 243 100% 93%;
  --color-neutral-500: 229 7% 55%;
  --color-neutral-700: 228 56% 26;
  --color-neutral-900: 229 57% 11;

  --font-family: "Raleway", system-ui, sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

.bg-dark {
  background-color: hsl(var(--color-neutral-900));
  color: hsl(var(--color-neutral-200));
}

.bg-medium {
  background-color: hsl(var(--color-neutral-700));
  color: hsl(var(--color-neutral-200));
}

.bg-light {
  background-color: hsl(var(--color-neutral-100));
  color: hsl(var(--color-neutral-500));
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-grey {
  color: hsl(var(--color-neutral-500));
}

.text-black {
  color: hsl(var(--color-neutral-900));
}

.text-regular {
  font-size: 1rem;
}

.text-large {
  font-size: 2.5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.rounded {
  border-radius: var(--radius, 0.5em);
}

body {
  background-color: hsl(var(--color-neutral-900));
  background-image: url(./images/bg-desktop.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  color: hsl(var(--color-neutral-200));
  display: grid;
  font-family: var(--font-family);
  margin: 0;
  min-height: 100dvh;
  place-content: center;
}

.main-container {
  display: grid;
  gap: 2em;
  grid-template-columns: auto 1fr;
  margin-inline: auto;
  max-width: 70em;
  padding-inline: 1em;
  place-items: end;
}

.controls {
  border-top-right-radius: 5em;
  display: grid;
  gap: 2em;
  padding: 3em 10em 3em 3em;
}

.controls__button {
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
  height: 3em;

  &[data-function="new"] {
    background-image: url(./images/icon-document.svg);
  }
  &[data-function="files"] {
    background-image: url(./images/icon-folder.svg);
  }
  &[data-function="upload"] {
    background-image: url(./images/icon-upload.svg);
  }
}

.data {
  display: grid;
  gap: 1em;
  padding: 2.5em;
  position: relative;

  & > p {
    margin: 0;
  }
}

.data__bar {
  background-color: hsl(var(--color-neutral-900));
  border-radius: 10000em;
  height: 1em;
  padding: 2px;
  width: 30em;

  & > div {
    background-image: linear-gradient(var(--color-gradient));
    border-radius: 10000em;
    height: 100%;
    padding: 0.5px;
    width: 81.5%;

    & > div {
      aspect-ratio: 1;
      background-color: hsl(var(--color-neutral-100));
      border-radius: 50%;
      height: calc(1em - 5px);
      margin-inline: auto 1px;
    }
  }
}

.data__labels {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.data__remaining {
  align-items: center;
  border-radius: 1rem 1rem 0 1rem;
  display: flex;
  font-weight: var(--font-weight-bold);
  gap: 0.5rem;
  padding: 1rem;
  position: absolute;
  right: 1em;
  top: -1.25em;

  & > span {
    padding-block-start: 0.5ch;
    z-index: 10;
  }

  &::after {
    aspect-ratio: 1;
    border-bottom: 2.5rem solid transparent;
    border-right: 2.5rem solid #fff;
    border-top: 2.5rem solid transparent;
    bottom: -1.25rem;
    content: "";
    position: absolute;
    right: 0;
    width: 0;
  }
}

@media (max-width: 65em) {
  body {
    background-image: url(./images/bg-mobile.png);
    background-size: cover;
  }

  .main-container {
    grid-template-columns: 1fr;
  }

  .controls {
    width: 100%;
    padding-right: 0;
  }

  .data__bar {
    width: 100%;
  }

  .data__remaining {
    border-radius: 1rem;
    bottom: -30%;
    left: 50%;
    right: unset;
    top: unset;
    transform: translateX(-50%);

    &::after {
      display: none;
    }
  }
}
