@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --clr-red: hsl(0, 94%, 66%);
  --clr-blue: hsl(231, 69%, 60%);
  --clr-body: hsl(229, 8%, 60%);
  --clr-title: hsl(229, 31%, 21%);

  --fs-body: 1.125rem;
  --fs-title: 1.5rem;
  --fs-xl: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--clr-body);
  font-size: var(--fs-body);
  text-align: center;
  font-weight: 400;
}

button {
  cursor: pointer;
  border: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.sr-only {
  display: none;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 2em 1em;
}

.header__hamburger {
  background-color: transparent;
}

.header__nav {
  display: none;
}

.section__img-container {
  position: relative;
  margin: 0 auto 3em auto;
}

.section--hero > .section__img-container img {
  width: 90%;
}

.bg-shape {
  background-color: var(--clr-blue);
  bottom: 0;
  border-top-right-radius: 10em;
  border-bottom-right-radius: 10em;
  content: "";
  height: 75%;
  left: 0;
  position: absolute;
  width: 80%;
  z-index: -10;
}

.bg-shape--right {
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10em;
  border-top-right-radius: 0;
  left: unset;
  right: 0;
}

.section__title,
.section__body {
  margin-block: 1em;
  padding-inline: 1em;
}

.section__title {
  font-size: var(--fs-title);
  font-weight: 500;
  line-height: 1.25;
  color: var(--clr-title);
  padding-inline: 1.5em;
}

.section__body {
  line-height: 1.5;
}

.section__title--hero {
  font-size: var(--fs-xl);
}

.section__button {
  --bg-clr: var(--clr-blue);
  --clr: #fff;
  background-color: var(--bg-clr);
  border: 1px solid var(--clr);
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: var(--clr);
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  margin-block: 1em;
  padding: 1em 1.2em;
  width: fit-content;
  width: -moz-fit-content;
}

.section__button:hover,
.section__button:focus-visible {
  --bg-clr: #fff;
  --clr: var(--clr-blue);
  outline: 0;
}

.section__button--variant {
  --bg-clr: #fafafa;
  --clr: var(--clr-title);
  background-color: var(--bg-clr);
  color: var(--clr);
  border-color: transparent;
}

.section__button--variant:hover,
.section__button--variant:focus-visible {
  --bg-clr: #fafafa;
  --clr: var(--clr-title);
  border-color: var(--clr);
  color: var(--clr);
}

.section__button + .section__button {
  margin-left: 1em;
}

.section--features {
  padding-top: 6em;
}

.toggle__option {
  background-color: transparent;
  border-top: 1px solid var(--clr-body);
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: var(--fs-body);
  font-weight: 400;
  padding: 1em;
  position: relative;
  width: 100%;
}

.toggle__option:not(.toggle__option--selected):hover,
.toggle__option:not(.toggle__option--selected):focus-visible {
  color: var(--clr-red);
  outline: 0;
}

.toggle__option.last {
  border-bottom: 1px solid var(--clr-body);
  margin-bottom: 3em;
}

.toggle__option::after {
  background-color: var(--clr-red);
  bottom: 0;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  visibility: hidden;
  width: 40%;
}

.toggle__option--selected {
  color: var(--clr-title);
}

.toggle__option--selected.toggle__option::after {
  visibility: visible;
}

.feature {
  display: none;
}

.feature button {
  display: none;
}

.feature--selected {
  display: block;
  margin-bottom: 10em;
}

.feature > .section__img-container {
  display: grid;
  min-height: 250px;
  place-items: center;
}

.feature > .section__img-container img {
  width: 80%;
}

.download__cards-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 8em;
  margin-top: 2em;
  row-gap: 1em;
}

.download__card {
  background-image: url("images/bg-dots.svg");
  background-position: bottom 30% left 0;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 2em 1.5em 1.5em 1em;
  width: 80%;
}

.download__card > .section__title {
  margin-bottom: 0;
}

.download__card > .section__body {
  margin-top: 0.5em;
}

.download__card > .section__button {
  margin: 4em auto 1em auto;
  width: 100%;
}

.section__faqs {
  margin-top: 4em;
  margin-bottom: 1.5em;
  padding-inline: 1.5em;
}

.faqs__header {
  align-items: center;
  display: flex;
  padding-block: 1em;
  cursor: pointer;
  user-select: none;
}

.faqs__header:hover .faqs__q,
.faqs__header a:focus-visible .faqs__q {
  color: var(--clr-red);
}

.faqs__q {
  font-size: calc(var(--fs-body) - 2px);
  font-weight: 400;
  color: var(--clr-title);
  text-align: left;
  width: 100%;
}

.faqs__arrow {
  width: 5%;
  margin-left: auto;
}

.faqs__arrow--up {
  content: url("images/icon-arrow-up.svg");
  transform: rotate(180deg);
}

.faqs__a {
  color: var(--clr-title);
  display: none;
  font-size: calc(var(--fs-body) - 2px);
  line-height: 1.75;
  margin-block: 1em;
  opacity: 0.9;
  text-align: left;
}

.faqs__a--selected {
  display: block;
}

.section--faqs .section__button {
  margin-bottom: 6em;
}

.section--contact {
  background-color: var(--clr-blue);
  color: #fff;
  padding-block: 3em 1em;
}

.section__pre-title {
  letter-spacing: 5px;
  font-size: calc(var(--fs-body) - 6px);
  margin-bottom: 0;
}

.section--contact > .section__title {
  margin-top: 0.5em;
  color: #fff;
  font-weight: 400;
}

.section__input {
  font-family: "Rubik", sans-serif;
  width: 80%;
  padding: 1em;
}

.section__input--error {
  background-image: url(images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: top 50% right 5%;
  border: 2px solid var(--clr-red);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.section__error-msg {
  background-color: var(--clr-red);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  font-style: italic;
  margin: 0 auto;
  padding: 0.5em 1em;
  text-align: left;
  visibility: hidden;
  width: 80%;
}

.section__error-msg--active {
  visibility: visible;
}

.section__button--contact {
  background-color: var(--clr-red);
  width: 80%;
  font-weight: 500;
  border-color: transparent;
}

.section__button--contact:hover,
.section__button--contact:focus-visible {
  --clr: var(--clr-red);
  background-color: #fff;
  border-color: var(--clr);
  outline: 0;
}

.footer {
  background-color: var(--clr-title);
  color: #fff;
  padding-block: 2em;
}

.footer__nav-list {
  font-size: var(--fs-body);
  font-weight: 400;
  letter-spacing: 2px;
  margin-block: 2em;
  opacity: 0.9;
}

.footer__nav-list li + li {
  margin-top: 2em;
}

.footer__nav-list a:hover,
.footer__nav-list a:focus-visible {
  color: var(--clr-red);
  outline: 0;
}

.footer__social-link + .footer__social-link {
  margin-left: 2em;
}

.mobile-menu {
  background-color: var(--clr-title);
  font-size: calc(var(--fs-body) + 0.25rem);
  inset: 0;
  min-height: 100vh;
  opacity: 0.95;
  position: fixed;
  padding: 1.5em 1em;
  z-index: 10;
  display: none;
}

.mobile-menu.mobile-menu--open {
  display: block;
}

.mobile-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.mobile-menu__close {
  background: transparent;
  color: #fff;
  font-family: "Rubik";
  font-size: var(--fs-title);
}

.mobile-menu__nav-list {
  margin-top: 2em;
}

.mobile-menu__nav-list > li {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 0.75em 0;
  letter-spacing: 2px;
  font-weight: 400;
}

.mobile-menu__nav-item--button {
  width: 100%;
  padding: 0.5em;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 16em;
}

@media (min-width: 1000px) {
  :root {
    --fs-body: 1.4rem;
    --fs-title: 1.75rem;
    --fs-xl: 3rem;
  }

  .container {
    width: 95%;
    max-width: 1250px;
  }

  .main {
    display: grid;
    grid-template: 1fr;
    gap: 3em;
  }

  .section__title,
  .section__body {
    padding-inline: 0;
  }

  .header__hamburger {
    display: none;
  }

  .header__nav {
    color: black;
    display: flex;
    font-size: 0.9rem;
    font-weight: 400;
    gap: 3em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .nav__button {
    background: var(--clr-red);
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    letter-spacing: 1px;
    padding: 1em 2.5em;
  }

  .feature--selected,
  .section--hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }

  .hero__content {
    order: -1;
    text-align: left;
  }

  .hero__img-container {
    position: absolute;
    right: -6.4vw;
    top: 0;
  }

  .features__toggle {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin: 0 auto 3em auto;
    position: relative;
  }

  .features__toggle::after {
    content: "";
    height: 1px;
    width: 57%;
    margin: 0 auto;
    background-color: var(--clr-body);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .toggle__option {
    border: 0 !important;
    margin: 0 !important;
  }

  .toggle__option::after {
    width: 100%;
  }

  .section--features .section__img-container {
    width: 100%;
  }

  .bg-shape--left {
    left: -10vw;
    top: 8vh;
    height: 40vh;
    width: 43vw;
  }

  .feature__content {
    text-align: left;
  }

  .feature__content button {
    display: block;
  }
}
