@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --clr-red: hsl(0, 94%, 66%);
  --clr-blue: hsl(231, 69%, 60%);
  --clr-body: hsl(229, 8%, 60%);
  --clr-title: hsl(229, 31%, 21%);

  --fs-body: 1.125rem;
  --fs-title: 1.5rem;
  --fs-xl: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--clr-body);
  font-size: var(--fs-body);
  text-align: center;
  font-weight: 400;
}

button {
  cursor: pointer;
  border: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.sr-only {
  display: none;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 2em 1em;
}

.header__hamburger {
  background-color: transparent;
}

.section__img-container {
  position: relative;
  margin: 0 auto 3em auto;
}

.section--hero > .section__img-container img {
  width: 90%;
}

.bg-shape {
  background-color: var(--clr-blue);
  bottom: 0;
  border-top-right-radius: 10em;
  border-bottom-right-radius: 10em;
  content: "";
  height: 75%;
  left: 0;
  position: absolute;
  width: 80%;
  z-index: -10;
}

.bg-shape--right {
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10em;
  border-top-right-radius: 0;
  left: unset;
  right: 0;
}

.section__title,
.section__body {
  margin-block: 1em;
  padding-inline: 1em;
}

.section__title {
  font-size: var(--fs-title);
  font-weight: 500;
  line-height: 1.25;
  color: var(--clr-title);
  padding-inline: 1.5em;
}

.section__body {
  line-height: 1.5;
}

.section__title--hero {
  font-size: var(--fs-xl);
}

.section__button {
  background-color: var(--clr-blue);
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  margin-block: 1em;
  padding: 1em 1.2em;
  width: fit-content;
  width: -moz-fit-content;
}

.section__button--variant {
  background-color: #fafafa;
  color: var(--clr-title);
}

.section__button + .section__button {
  margin-left: 1em;
}

.section--features {
  padding-top: 6em;
}

.toggle__option {
  background-color: transparent;
  border-top: 1px solid var(--clr-body);
  color: var(--clr-body);
  font-family: "Rubik", sans-serif;
  font-size: var(--fs-body);
  font-weight: 500;
  padding: 1em;
  position: relative;
  width: 100%;
}

.toggle__option.last {
  border-bottom: 1px solid var(--clr-body);
  margin-bottom: 3em;
}

.toggle__option::after {
  background-color: var(--clr-red);
  bottom: 0;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  visibility: hidden;
  width: 40%;
}

.toggle__option--selected {
  color: var(--clr-title);
}

.toggle__option--selected.toggle__option::after {
  visibility: visible;
}

.feature {
  display: none;
}

.feature--selected {
  display: block;
  margin-bottom: 10em;
}

.feature > .section__img-container {
  display: grid;
  min-height: 250px;
  place-items: center;
}

.feature > .section__img-container img {
  width: 80%;
}

.download__cards-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 8em;
  margin-top: 2em;
  row-gap: 1em;
}

.download__card {
  background-image: url("images/bg-dots.svg");
  background-position: bottom 30% left 0;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 2em 1.5em 1.5em 1em;
  width: 80%;
}

.download__card > .section__title {
  margin-bottom: 0;
}

.download__card > .section__body {
  margin-top: 0.5em;
}

.download__card > .section__button {
  margin: 4em auto 1em auto;
  width: 100%;
}

.section__faqs {
  margin-top: 4em;
  margin-bottom: 1.5em;
  padding-inline: 1.5em;
}

.faqs__header {
  align-items: center;
  display: flex;
  padding-block: 1em;
  cursor: pointer;
  user-select: none;
}

.faqs__q {
  font-size: calc(var(--fs-body) - 2px);
  font-weight: 400;
  color: var(--clr-title);
  text-align: left;
  width: 100%;
}

.faqs__arrow {
  width: 5%;
}

.faqs__arrow--up {
  content: url("images/icon-arrow-up.svg");
  transform: rotate(180deg);
}

.faqs__a {
  color: var(--clr-title);
  display: none;
  font-size: calc(var(--fs-body) - 2px);
  line-height: 1.75;
  margin-block: 1em;
  opacity: 0.9;
  text-align: left;
}

.faqs__a--selected {
  display: block;
}

.section--faqs .section__button {
  margin-bottom: 6em;
}
