/*RESET START*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*RESET END*/

@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 500;
  src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
}

@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 700;
  src: url(./assets/fonts/static/HankenGrotesk-Bold.ttf);
}

@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 800;
  src: url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}

:root {
  --color-primary-500: hsl(0, 100%, 67%);
  --color-primary-600: hsl(166, 100%, 37%);
  --color-primary-700: hsl(39, 100%, 56%);
  --color-primary-800: hsl(234, 85%, 45%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(221, 100%, 96%);
  --color-neutral-400: hsl(241, 100%, 89%);
  --color-neutral-800: hsl(224, 30%, 27%);

  --color-gradient-bg: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  --color-gradient-circle: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );

  --font-family: "Hanken Grotesk", sans-serif;
  --font-size: 1.125rem;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

body {
  background-color: var(--color-neutral-100);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-medium);
  min-height: 100vh;
}

body {
  min-height: 100svh;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
}

.result {
  --border-radius: 2em;
  background: var(--color-gradient-bg);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  color: var(--color-neutral-400);
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
}

.result__content,
.summary__content {
  margin-inline: auto;
  max-width: 30rem;
}

.result__content {
  display: grid;
  gap: 2rem;
}

.result__content > h1 {
  font: inherit;
}

.result__total {
  aspect-ratio: 1;
  background: var(--color-gradient-circle);
  border-radius: 50%;
  display: grid;
  font-size: smaller;
  margin-inline: auto;
  place-content: center;
  width: 45%;
}

.result__total > p:first-of-type {
  color: var(--color-neutral-100);
  font-size: calc(var(--font-size) * 3);
  font-weight: var(--font-weight-bold);
}

.result__rank {
  color: var(--color-neutral-100);
  font-size: calc(var(--font-size) * 1.4);
  font-weight: var(--font-weight-bold);
}

.summary__content {
  padding: 1rem 2rem;
}

.summary__content > h2 {
  font: inherit;
  font-weight: var(--font-weight-extra-bold);
}

.summary__results {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.summary__content > button {
  background-color: var(--color-neutral-800);
  border-radius: 100rem;
  border: 0;
  color: var(--color-neutral-100);
  cursor: pointer;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}

.summary__result {
  background-color: var(--background-color);
  border-radius: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr auto;
  padding: 1rem;
}

.summary__result[data-test="reaction"] {
  --name-color: var(--color-primary-500);
  --background-color: hsla(0, 100%, 67%, 0.1);
}

.summary__result[data-test="memory"] {
  --name-color: var(--color-primary-700);
  --background-color: hsla(39, 100%, 56%, 0.1);
}

.summary__result[data-test="verbal"] {
  --name-color: var(--color-primary-600);
  --background-color: hsla(166, 100%, 37%, 0.1);
}

.summary__result[data-test="visual"] {
  --name-color: var(--color-primary-800);
  --background-color: hsla(234, 85%, 45%, 0.1);
}

.result__icon {
  margin: auto;
}

.result__name {
  color: var(--name-color);
}

.result__score {
  color: hsla(224, 30%, 27%, 0.5);
  font-weight: var(--font-weight-extra-bold);
}

.result__score > strong {
  color: var(--color-neutral-800);
}

@media (min-width: 60rem) {
  :root {
    --font-size: 1.2rem;
  }

  body {
    display: grid;
  }

  main {
    --border-radius: 2em;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--color-neutral-200) 2rem 2rem 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
    margin: auto;
    max-width: 45rem;
  }

  .result {
    border-radius: var(--border-radius);
    display: grid;
  }

  .result__content,
  .summary__content {
    margin: auto;
  }

  .result__total {
    width: 70%;
  }

  .result__total > p:first-of-type {
    font-size: calc(var(--font-size) * 4);
  }

  .result__total > p:last-of-type {
    transform: translateY(-1rem);
  }
}
