@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

:root {
  --theme1-color-neutral-100: hsl(0, 0%, 100%);
  --theme1-color-neutral-200: hsl(30, 25%, 89%);
  --theme1-color-neutral-300: hsl(28, 16%, 65%);
  --theme1-color-neutral-400: hsl(225, 21%, 49%);
  --theme1-color-neutral-500: hsl(224, 28%, 35%);
  --theme1-color-neutral-600: hsl(222, 26%, 31%);
  --theme1-color-neutral-700: hsl(221, 14%, 31%);
  --theme1-color-neutral-800: hsl(223, 31%, 20%);
  --theme1-color-neutral-900: hsl(224, 36%, 15%);

  --theme1-color-primary-red: hsl(6, 63%, 50%);
  --theme1-color-primary-dark-red: hsl(6, 70%, 34%);

  --ff: "League Spartan", sans-serif;
  --fs: 2rem;
  --fw: 700;
  --theme1-font-color: hsl(198, 20%, 13%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: grid;
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: var(--fw);
  min-height: 100vh;
  place-items: center;
}

.theme1 {
  background-color: var(--theme1-color-neutral-600);
  color: var(--theme1-color-neutral-100);
}

.container {
  margin-inline: auto;
  max-width: 23em;
  width: calc(100vw - 1.5em);
}

.calculator {
  --padding: 0.5em;
  --radius: 0.5em;
  display: grid;
  gap: 1em;
}

.calculator__header {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  letter-spacing: 1px;
  gap: 1em;
  justify-content: flex-end;
}

h1 {
  font-size: 2rem;
  margin-right: auto;
}

.header__theme-switcher {
  border-radius: 10em;
  border: 0;
  color: inherit;
  height: 25px;
  position: relative;
  width: 60px;
}

.theme1 .header__theme-switcher {
  background-color: var(--theme1-color-neutral-800);
}

.theme-switcher__label {
  display: flex;
  justify-content: space-between;
  position: absolute;
  text-align: center;
  top: -100%;
  width: 80%;
}

.theme-switcher__inner {
  aspect-ratio: 1;
  border-radius: 50%;
  content: "";
  display: block;
  width: 14px;
}

.theme1 .theme-switcher__inner {
  margin-right: auto;
}

.theme1 .theme-switcher__inner {
  background-color: var(--theme1-color-primary-red);
}

.calculator__screen {
  border-radius: var(--radius);
  padding: var(--padding);
  text-align: end;
}

.theme1 .calculator__screen {
  background-color: var(--theme1-color-neutral-900);
}

.calculator__buttons {
  --padding: 0.75em;
  border-radius: var(--radius);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--padding);
}

.theme1 .calculator__buttons {
  background-color: var(--theme1-color-neutral-800);
  color: var(--theme1-color-neutral-700);
}

.buttons__button {
  border: 0;
  border-radius: 0.25em;
  color: inherit;
  display: grid;
  font-size: var(--fs);
  place-items: center;
}

.buttons__button--accent {
  font-size: 1rem;
}

.theme1 .buttons__button {
  background-color: var(--theme1-color-neutral-200);
}

.theme1 .buttons__button--accent {
  background-color: var(--theme1-color-neutral-400);
  color: var(--theme1-color-neutral-100);
}

.theme1 .buttons__button[data-button="equals"] {
  background-color: var(--theme1-color-primary-red);
  color: var(--theme1-color-neutral-100);
}

.buttons__button--large {
  grid-column: span 2;
}
