@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --color-neutral-100: hsl(36, 100%, 99%);
  --color-neutral-200: hsl(233, 8%, 79%);
  --color-neutral-700: hsl(236, 13%, 42%);
  --color-neutral-900: hsl(240, 100%, 5%);

  --color-primary-soft-orange: hsl(35, 77%, 62%);
  --color-primary-red: hsl(5, 85%, 63%);

  --font-family: "Inter", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 800;

  --font-size-small: 0.9375rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 2.6rem;
}

@media (min-width: 800px) {
  :root {
    --font-size-small: 1rem;
    --font-size-medium: 1.25rem;
    --font-size-large: 3.5em;
  }
}

/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;

  font: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Utility Classes */

.color-100 {
  color: var(--color-neutral-100);
}

.color-200 {
  color: var(--color-neutral-200);
}

.color-700 {
  color: var(--color-neutral-700);
}

.color-900 {
  color: var(--color-neutral-900);
}

.weight-400 {
  font-weight: var(--font-weight-regular);
}

.weight-700 {
  font-weight: var(--font-weight-bold);
}

.weight-800 {
  font-weight: var(--font-weight-bolder);
}

.grid-rows {
  display: grid;
}

.desktop-only {
  display: none;
}

.container {
  width: calc(100vw - 2em);
  max-width: 370px;
  margin-inline: auto;
}

@media (min-width: 800px) {
  .mobile-only.mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .container {
    width: calc(100vw - 5em);
    max-width: unset;
  }
}

/* Component Styling */

body {
  background-color: var(--color-neutral-100);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 2em;
}

header > img {
  width: 45px;
}

.header__nav {
  background-color: var(--color-neutral-100);
  display: none;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;
}

@media (min-width: 800px) {
  .header__nav {
    display: block;
    height: unset;
    position: unset;
    width: unset;
  }
}

.header__close-button {
  aspect-ratio: 1;
  background-color: transparent;
  background-image: url("./images/icon-menu-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  color: inherit;
  display: block;
  font: inherit;
  margin-left: auto;
  margin-right: 1em;
  margin-top: 2em;
  padding: 1em;
  width: 50px;
}

.header__nav > ul {
  display: grid;
  font-size: var(--font-size-medium);
  gap: 1em;
  margin-top: 5em;
  padding-left: 2em;
}

@media (min-width: 800px) {
  .header__nav > ul {
    gap: 2em;
    grid-auto-flow: column;
    margin: unset;
  }
}

.header__hamburger {
  background-color: transparent;
  background-image: url("./images/icon-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  height: 20px;
  padding: 1em;
  width: 45px;
}

main {
  display: grid;
  gap: 3em;
  padding-bottom: 5em;
}

.main__columns {
  display: grid;
  gap: 3em;
}

@media (min-width: 800px) {
  .main__columns {
    gap: 2em;
    grid-template-columns: 3fr 1fr;
  }
}

.hero {
  display: grid;
  gap: 1em;
}

.hero__columns {
  display: grid;
  gap: 1em;
}

h1 {
  font-size: var(--font-size-large);
  line-height: 1;
}

.hero__button {
  background-color: var(--color-primary-red);
  color: var(--color-neutral-100);
  display: block;
  font-size: 0.8rem;
  font-weight: var(--font-weight-bold);
  font-family: inherit;
  letter-spacing: 3.5px;
  margin-top: 1em;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
}

@media (min-width: 800px) {
  .hero__columns {
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }

  .hero__button {
    margin-top: 3em;
  }
}

.new {
  background-color: var(--color-neutral-900);
  display: grid;
  padding: 1em;
}

.new > h2 {
  color: var(--color-primary-soft-orange);
  font-size: var(--font-size-large);
}

.new__article {
  display: grid;
  gap: 1em;
  padding-block: 1em;
}

.new__article > a {
  font-size: var(--font-size-medium);
}

.new__article:not(:last-of-type) {
  border-bottom: 1px solid var(--color-neutral-200);
}

.top {
  display: grid;
  gap: 2em;
}

@media (min-width: 800px) {
  .top {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.top__article {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 1.5em;
}

.article__number {
  color: var(--color-neutral-200);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}
