@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --clr-200: hsl(0, 0%, 98%);
  --clr-700: hsl(0, 0%, 41%);
  --clr-800: hsl(0, 0%, 8%);

  --fs-body: 1rem;
  --fs-title: calc(var(--fs-body) * 2.2);
  --fw-reg: 500;
  --fw-bold: 700;
  --space: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  color: var(--clr-700);
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  font: inherit;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: min(calc(100vw - 2em), 1350px);
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.button {
  border: 0;
  border-radius: 1rem;
  display: block;
  font-weight: var(--fw-bold);
  padding: calc(var(--space) * 0.75) calc(var(--space) * 1.2);
}

.header {
  padding: var(--space);
}

.header__hamburger {
  aspect-ratio: 1;
  background-color: transparent;
  background-image: url("./images/icon-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  height: 38px;
  margin-right: calc(var(--space) * 0.5);
  width: 35px;
}

.header__nav,
.header__user-controls {
  display: none;
}

.main__hero {
  display: grid;
  grid-template-rows: 40vh 1fr;
}

.hero__img--mobile {
  margin: 0 auto;
  width: min(100%, 768px);
  max-height: 100%;
  object-position: center top;
  object-fit: cover;
}

.hero__img--desktop {
  display: none;
}

.hero__content {
  margin-top: calc(var(--space) * 1);
  text-align: center;
}

.hero__title {
  font-size: var(--fs-title);
  color: var(--clr-800);
  font-weight: var(--fw-bold);
}

.hero__body {
  margin-inline: auto;
  margin-top: var(--space);
  max-width: 500px;
}

.hero__button {
  background-color: var(--clr-800);
  color: var(--clr-200);
  margin-inline: auto;
  margin-top: var(--space);
}

.hero__logos-container {
  justify-content: space-between;
  margin-inline: auto;
  margin-top: calc(var(--space) * 2);
  max-width: 500px;
}

.hero__logos-container > img {
  width: 20%;
}

.mobile-menu {
  border: 0;
  min-height: 100vh;
  margin-left: auto;
  padding: var(--space);
  position: fixed;
  top: 0;
  width: 60vw;
}

.mobile-menu::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.mobile-menu__close-button {
  aspect-ratio: 1;
  background-color: transparent;
  background-image: url("./images/icon-close-menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  display: block;
  height: 30px;
  margin-left: auto;
}

.mobile-menu__nav {
  margin-top: calc(var(--space) * 1.5);
}

.mobile-menu__nav > ul {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 1.25);
  list-style: none;
  padding-left: 0;
}

.menu__expandable {
  align-items: center;
  background-color: transparent;
  border: 0;
  display: flex;
  gap: calc(var(--space) * 0.5);
  padding: 0;
}

.menu__arrow--up {
  display: none;
}

.menu__expandable.active > .menu__arrow--up {
  display: block;
}

.menu__expandable.active > .menu__arrow--down {
  display: none;
}

.menu__sub-menu {
  display: none;
  list-style: none;
  padding-left: var(--space);
}

.menu__sub-menu.active {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 0.8);
}

.menu__sub-menu a {
  align-items: center;
  display: flex;
  gap: 10px;
}

.menu__sub-menu img {
  width: 18px;
}

@media (min-width: 1000px) {
  :root {
    --fs-body: 1.125rem;
    --fs-title: calc(var(--fs-body) * 4);
  }

  .header .row {
    justify-content: start;
  }

  .header__hamburger {
    display: none;
  }

  .header__nav {
    display: block;
    margin-left: calc(var(--space) * 3);
  }

  .header__nav > ul,
  .header__user-controls > ul {
    display: flex;
    gap: calc(var(--space) * 2);
    list-style: none;
    padding-left: 0;
    position: relative;
  }

  .header__user-controls {
    display: block;
    margin-left: auto;
  }

  .header__register {
    border: 2px var(--clr-700) solid;
    border-radius: 15px;
    padding: calc(var(--space) * 0.75) calc(var(--space) * 1.25);
  }

  .menu__sub-menu.active {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 var(--space) calc(var(--space) * 1) rgba(0, 0, 0, 0.15);
    display: flex;
    padding: calc(var(--space) * 1.4);
    position: absolute;
  }

  .menu__features {
    top: calc(var(--space) * 1.5);
    left: calc(var(--space) * -3.5);
  }

  .menu__company {
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 7.4);
  }
}

@media (min-width: 1200px) {
  .main__hero {
    display: grid;
    gap: calc(var(--space) * 5);
    grid-template-columns: 1fr 45%;
    grid-template-rows: unset;
    margin-inline: auto;
    margin-top: calc(var(--space) * 3);
    width: calc(100% - var(--space) * 15);
  }

  .hero__img--mobile {
    display: none;
  }

  .hero__img--desktop {
    display: block;
    object-fit: cover;
    object-position: center;
    min-height: 100%;
  }

  .hero__content {
    order: -1;
    text-align: start;
    padding-top: calc(var(--space) * 3);
  }

  .hero__content > .container {
    width: 100%;
  }

  .hero__body {
    line-height: 1.7;
    margin-inline: unset;
    margin-top: calc(var(--space) * 2);
    max-width: 380px;
    width: 100%;
  }

  .hero__button {
    margin-inline: unset;
    margin-top: calc(var(--space) * 2);
  }

  .hero__logos-container {
    margin-top: calc(var(--space) * 5);
    max-width: 1000%;
  }
}
