@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --clr-200: hsl(0, 0%, 98%);
  --clr-700: hsl(0, 0%, 41%);
  --clr-800: hsl(0, 0%, 8%);

  --fs-body: 1rem;
  --fs-title: calc(var(--fs-body) * 2.2);
  --fw-reg: 500;
  --fw-bold: 700;
  --space: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  color: var(--clr-700);
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  font: inherit;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: min(calc(100vw - 2em), 1000px);
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.button {
  border: 0;
  border-radius: 1rem;
  display: block;
  font-weight: var(--fw-bold);
  padding: calc(var(--space) * 0.75) calc(var(--space) * 1.2);
}

.header {
  padding: var(--space);
}

.header__hamburger {
  aspect-ratio: 1;
  background-color: transparent;
  background-image: url("./images/icon-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  height: 38px;
  margin-right: calc(var(--space) * 0.5);
  width: 35px;
}

.main__hero {
  display: grid;
  grid-template-rows: 40vh 1fr;
}

.hero__img--mobile {
  margin: 0 auto;
  width: min(100%, 768px);
  max-height: 100%;
  object-position: center top;
  object-fit: cover;
}

.hero__img--desktop {
  display: none;
}

.hero__content {
  margin-top: calc(var(--space) * 1);
  text-align: center;
}

.hero__title {
  font-size: var(--fs-title);
  color: var(--clr-800);
  font-weight: var(--fw-bold);
}

.hero__body {
  margin-inline: auto;
  margin-top: var(--space);
  max-width: 500px;
}

.hero__button {
  background-color: var(--clr-800);
  color: var(--clr-200);
  margin-inline: auto;
  margin-top: var(--space);
}

.hero__logos-container {
  justify-content: space-between;
  margin-inline: auto;
  margin-top: calc(var(--space) * 2);
  max-width: 500px;
}

.hero__logos-container > img {
  width: 20%;
}

.mobile-menu {
  border: 0;
  min-height: 100vh;
  margin-left: auto;
  padding: var(--space);
  position: fixed;
  top: 0;
  width: 60vw;
}

.mobile-menu::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.mobile-menu__close-button {
  aspect-ratio: 1;
  background-color: transparent;
  background-image: url("./images/icon-close-menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  display: block;
  height: 30px;
  margin-left: auto;
}

.mobile-menu__nav {
  margin-top: calc(var(--space) * 1.5);
}

.mobile-menu__nav > ul {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 1.25);
  list-style: none;
  padding-left: 0;
}

.mobile-menu__expandable {
  align-items: center;
  background-color: transparent;
  border: 0;
  display: flex;
  gap: calc(var(--space) * 0.5);
  padding: 0;
}

.mobile-menu__arrow--up {
  display: none;
}

.mobile-menu__expandable.active > .mobile-menu__arrow--up {
  display: block;
}

.mobile-menu__expandable.active > .mobile-menu__arrow--down {
  display: none;
}

.mobile-menu__sub-menu {
  display: none;
  list-style: none;
  padding-left: var(--space);
}

.mobile-menu__sub-menu.active {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 0.8);
}

.mobile-menu__sub-menu a {
  align-items: center;
  display: flex;
  gap: 10px;
}

.mobile-menu__sub-menu img {
  width: 18px;
}
