@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --clr-200: hsl(0, 0%, 98%);
  --clr-700: hsl(0, 0%, 41%);
  --clr-800: hsl(0, 0%, 8%);

  --fs-body: 1.125rem;
  --fs-title: calc(var(var(--fs-body) * 2));
  --fw-reg: 500;
  --fw-bold: 700;
  --space: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  color: var(--clr-700);
}

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  font: inherit;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: min(calc(100vw - 2em), 350px);
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header {
  padding: var(--space);
}

.header__hamburger {
  aspect-ratio: 1;
  background-color: transparent;
  background-image: url("./images/icon-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: 38px;
}

.hero__img--desktop {
  display: none;
}
