@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(270, 20%, 96%);
  --color-neutral-400: hsl(272, 41%, 93%);
  --color-neutral-500: hsl(206, 6%, 79%);
  --color-neutral-600: hsl(270, 7%, 64%);
  --color-neutral-700: hsl(271, 15%, 43%);

  --color-primary-200: hsl(276, 100%, 81%);
  --color-primary-300: hsl(289, 100%, 72%);
  --color-primary-400: hsl(293, 100%, 63%);
  --color-primary-500: hsl(264, 100%, 61%);
  --color-primary-600: hsl(276, 55%, 52%);
  --color-primary-800: hsl(271, 36%, 24%);

  --color-gradient: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  --color-gradient-2: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );

  --font-family: "Rubik", Helvetica, sans-serif;
  --font-size-body: 1rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/*RESET START*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*RESET END*/

html {
  overflow: hidden;
}

body {
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-600);
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  min-height: 100vh;
  min-height: 100dvh;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
}

.illustration-container {
  display: grid;
  min-height: 66dvh;
  min-height: 66vh;
  place-items: center;
  position: relative;
}

.illustration-container__bg-shape {
  background: linear-gradient(
    var(--color-primary-400),
    var(--color-primary-600)
  );
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: block;
  height: 90%;
  left: -50%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}

.illustration-container__illustration {
  --border-radius: 2rem;
  background-color: var(--color-neutral-100);
  border-radius: var(--border-radius);
  box-shadow: 1rem 1rem 1.5rem var(--color-neutral-500);
  height: 98%;
  max-height: 530px;
  max-width: 265px;
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
  user-select: none;
  width: 70%;
}

.illustration__bezel {
  background-color: var(--color-neutral-100);
  border-radius: 10rem;
  height: 7.5%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -1.5rem);
  width: 50%;
}

.illustration__screen {
  background-color: var(--color-neutral-200);
  border-radius: var(--border-radius);
  height: 100%;
}

.screen__header {
  background: var(--color-gradient);
  border-radius: 0.5rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  box-shadow: 0 0.25rem 0.25rem var(--color-neutral-500);
  display: grid;
  height: 12%;
}

.header__content {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto auto 1fr auto;
  margin-top: auto;
  padding: 0 1.25rem 0.5rem 2rem;
}

.header__arrow {
  margin: auto;
}

.header__arrow::before,
.header__arrow::after {
  background-color: var(--color-neutral-200);
  border-radius: 10em;
  content: "";
  display: block;
  height: 8px;
  width: 2.5px;
}

.header__arrow::before {
  transform: rotate(30deg) translateY(1px);
}

.header__arrow::after {
  transform: rotate(-30deg) translateY(-1px);
}

.header__profile-pic {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--color-neutral-200);
  margin: auto;
  width: 30px;
}

.header__name-container {
  color: var(--color-neutral-200);
  font-size: calc(var(--font-size-body) * 0.5);
  display: grid;
}

.header__name-container > p {
  opacity: 0.75;
}

.header__name-container > p:first-of-type {
  font-size: calc(var(--font-size-body) * 0.8);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.025rem;
  opacity: 1;
}

.header__dots {
  display: grid;
  margin: auto;
  height: 10px;
}

.header__dot {
  aspect-ratio: 1;
  background-color: var(--color-neutral-200);
  margin: 0;
  opacity: 0.75;
  width: 2px;
}

.screen__chat {
  display: grid;
  font-size: calc(var(--font-size-body) * 0.5);
  gap: 0.5rem;
  padding: 0.5rem;
}

.screen__chat > * {
  opacity: 0;
}

.chat__bubble {
  border-radius: 0.5rem;
  max-width: 60%;
}

.chat__bubble[data-type="incoming"],
.chat__bubble[data-type="choice"] {
  background-color: var(--color-neutral-400);
  border-bottom-left-radius: 0.25rem;
  color: var(--color-primary-600);
  padding: 0.5rem;
  transform: translateX(-100%);
}

.chat__bubble[data-type="outgoing"] {
  background-color: var(--color-neutral-100);
  border-bottom-right-radius: 0.25rem;
  color: var(--color-primary-800);
  margin-inline-start: auto;
  padding: 0.5rem;
  transform: translateX(100%);
}

.chat__bubble[data-type="choice"] {
  background: var(--color-gradient-2);
  color: var(--color-neutral-200);
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr auto;
  max-width: 75%;
}

.chat__bubble[data-type="choice"] > p {
  margin-block: auto;
  opacity: 0.66;
}

.bubble__radio {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid;
  margin: auto;
  opacity: 0.66;
  width: 10px;
}

.chat__bubble[data-type="choice"] > p:last-of-type {
  font-size: calc(var(--font-size-body) * 0.8);
  font-weight: var(--font-weight-bold);
  padding-inline-end: 0.5rem;
  opacity: 1;
}

.chat__images {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-inline-start: auto;
  margin-top: 1rem;
  max-width: 60%;
  transform: translateX(100%);
}

.chat__image {
  border-radius: 0.5rem;
}

.chat__input {
  background-color: var(--color-neutral-100);
  border-radius: 10rem;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 0.5rem;
  opacity: 1;
  padding-block: 0.25rem;
  padding-inline: 1rem 0.25rem;
}

.chat__input > p {
  margin-block: auto;
}

.input__send {
  aspect-ratio: 1;
  background-color: var(--color-primary-800);
  border-radius: 50%;
  display: grid;
  position: relative;
  width: 25px;
}

.input__send::before,
.input__send::after {
  background-color: var(--color-neutral-200);
  border-radius: 10em;
  content: "";
  display: block;
  height: 8px;
  left: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  width: 2.5px;
}

.input__send::before {
  transform: translateY(-60%) rotate(-45deg);
}

.input__send::after {
  transform: translateY(-10%) rotate(45deg);
}

.animate {
  opacity: 1;
  transform: translateX(0) !important;
  transition: all 350ms linear;
}

.information-container {
  font-weight: var(--font-weight-regular);
  height: 100%;
  line-height: 1.6;
  margin-top: 2rem;
  position: relative;
  text-align: center;
}

.information-container__bg-shape {
  background-color: var(--color-neutral-400);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 100%;
  height: 150%;
  position: absolute;
  bottom: 0;
  right: -50%;
  z-index: -10;
}

h1 {
  color: var(--color-primary-800);
  font-size: calc(var(--font-size-body) * 2.5);
  font-weight: var(--font-weight-medium);
}

@media (min-width: 70rem) {
  main {
    grid-template-rows: 0;
    grid-template-columns: 1fr 1fr;
  }

  .illustration-container {
    min-height: 100vh;
    min-height: 100dvh;
    place-items: unset;
  }

  .illustration-container__bg-shape {
    width: 200%;
    max-width: 50vw;
    left: -25%;
  }

  .illustration-container__illustration {
    margin-inline: auto 3rem;
    margin-block: auto;
  }

  .information-container {
    --font-size-body: 1.5rem;
    text-align: start;
    display: grid;
    place-content: center;
    margin: auto;
    margin-inline: unset;
    min-height: 100dvh;
    min-height: 100vh;
  }

  .information-container > p {
    max-width: 50ch;
  }
}
