@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --clr-dm-el: hsl(209, 23%, 22%);
  --clr-dm-bg: hsl(207, 26%, 17%);
  --clr-dm-tx: hsl(0, 0%, 100%);

  --clr-lm-el: hsl(0, 0%, 100%);
  --clr-lm-bg: hsl(0, 0%, 98%);
  --clr-lm-tx: hsl(200, 15%, 8%);
  --clr-lm-in: hsl(0, 0%, 52%);

  --fs-home: 0.875rem;
  --fs-details: 1rem;

  --fw-1: 300;
  --fw-2: 600;
  --fw-3: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-lm-bg);
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--fs-home);
  font-weight: var(--fw-2);
  margin: 0;
}

input,
select {
  font: inherit;
}

button {
  font: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  width: min(90%, 370px);
  margin: 0 auto;
}

.dark {
  color: var(--clr-dm-tx);
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  padding: 1.5em 0;
}

.dark .header {
  background-color: var(--clr-dm-bg);
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: inherit;
}

.header__dark-mode-toggle {
  background-color: transparent;
  border: 0;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main {
  --radius: 5px;
}

.dark .main {
  background-color: var(--clr-dm-bg);
}

.main__search-container,
.main__filter-container {
  border-radius: var(--radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main__search-container {
  align-items: center;
  background-color: #fff;
  color: var(--clr-lm-in);
  display: flex;
  gap: 1em;
  margin-top: 2em;
  padding: 1em 2em;
  width: 100%;
}

.dark .main__search-container {
  background-color: var(--clr-dm-el);
  color: #fff;
}

.main__search {
  width: 100%;
  border: 0;
  background-color: transparent;
  color: inherit;
}

.dark .main__search::placeholder {
  color: var(--clr-dm-tx);
}

.dark .main__search::-ms-input-placeholder {
  color: var(--clr-dm-tx);
}

.main__filter-container {
  background-color: #fff;
  margin-top: 1em;
  width: 60%;
  padding: 0 1em;
}

.dark .main__filter-container {
  background-color: var(--clr-dm-el);
}

.main__filter {
  background-color: transparent;
  border: 0;
  color: inherit;
  padding-block: 1em;
  width: 100%;
}

.dark .main__filter > option {
  background-color: var(--clr-dm-bg);
}

.main__error {
  color: red;
  text-align: center;
}

.main__country {
  background-color: #fff;
  border-radius: var(--radius);
  border: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 45% 55%;
  margin: 3em auto;
  padding: 0;
  text-align: left;
  width: min(80%, 300px);
}

.dark .main__country {
  background-color: var(--clr-dm-el);
  color: #fff;
}

.country__flag {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.country__info {
  padding: 1em 2em 2em 2em;
}

.country__facts,
.detail__facts {
  list-style: none;
  padding-left: 0;
}

.country__facts > li + li,
.detail__facts > li + li {
  margin-top: 0.5em;
}

.detail {
  font-size: var(--fs-details);
}

.detail button {
  background-color: #fff;
  border: 0;
  color: inherit;
  padding: 0.25em 2em;
}

.dark .detail button {
  background-color: var(--clr-dm-el);
}

.detail__back {
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 0.5em;
  margin-block: 2em 3em;
}

.detail__flag {
  max-height: 250px;
  object-fit: cover;
  width: 100%;
}

.detail__name {
  margin-top: 1em;
}

.detail__borders-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.66em;
  padding-bottom: 2em;
}

.detail__border-btn {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.detail__facts {
  margin-block: 2em;
}

@media (min-width: 650px) {
  h1 {
    font-size: 1.5rem;
  }

  .container {
    width: min(1300px, 90%);
  }

  .flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1em;
  }

  .flex > * {
    width: 100%;
  }

  .main__search-container {
    max-width: 400px;
  }

  .main__filter-container {
    max-width: 180px;
  }

  .main__countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-rows: 400px;
    gap: 3em;
    margin-top: 2em;
    padding-bottom: 1em;
  }

  .main__country {
    width: min(100%, 626px);
    margin: 0 auto;
  }

  .country__info {
    margin-block: auto;
    padding: 0 2em;
  }

  .detail__flag {
    max-height: unset;
  }
}

@media (min-width: 700px) {
  :root {
    --fs-home: 0.9rem;
    --fs-details: 1rem;
  }
}

@media (min-width: 1000px) {
  .desktop-flex {
    display: flex;
    align-items: flex-start;
    gap: 8em;
  }

  .detail__flag {
    max-height: unset;
  }

  .detail__info {
    width: 100%;
  }

  .detail__name {
    margin: 0;
  }
}
