/* RESET STARTS */

/* https://andy-bell.co.uk/a-modern-css-reset/#heading-a-reset-of-sensible-defaults */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* RESET ENDS */

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap");

:root {
  --color-primary-200: hsla(12, 88%, 59%, 1);
  --color-primary-800: hsla(228, 39%, 23%, 1);
  --color-neutral-100: hsla(0, 0%, 98%, 1);
  --color-neutral-200: hsla(13, 100%, 96%, 1);
  --color-neutral-500: hsla(227, 12%, 61%, 1);
  --color-neutral-900: hsla(233, 12%, 13%, 1);

  --font-family: "Be Vietnam Pro", sans-serif;
  --font-size: 16px;
  --font-color-body: var(--color-neutral-500);
  --font-color-title: var(--color-primary-800);
  --font-weight-light: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  background-color: var(--color-neutral-100);
  color: var(--font-color-body);
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  line-height: 1.7;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color-title);
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
  line-height: 1.25;
}

.visually-hidden {
  left: -10000em;
  position: absolute;
  visibility: hidden;
}

.desktop-only {
  display: none !important;
}

.container {
  margin-inline: auto;
  max-width: 21em;
  width: calc(100% - 3em);
}

.even-columns {
  display: grid;
}

a:is(:hover, :focus-visible),
button:is(:hover, :focus-visible) {
  opacity: 0.5;
}

main {
  background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: top -6em right -8em;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 3em;
}

.header__logo {
  margin-block-start: 0.33em;
  max-width: 8em;
}

.header > nav {
  display: none;
}

.header__hamburger {
  aspect-ratio: 1;
  background-image: url(./images/icon-hamburger.svg);
  background-color: transparent;
  background-position: top 3px left 50%;
  background-repeat: no-repeat;
  border: 0;
  height: 2.5em;
}

.hero {
  display: grid;
}

.hero__info {
  margin-block-start: 1.5em;
  text-align: center;
}

h1 {
  font-size: calc(var(--font-size) * 2.6);
}

.hero__info > p {
  margin-inline: auto;
  margin-block-start: 1em;
  max-width: 35ch;
}

.cta-link {
  background-color: var(--color-primary-200);
  border-radius: 100em;
  color: var(--color-neutral-200);
  display: block;
  font-size: calc(var(--font-size) * 0.9);
  font-weight: var(--font-weight-bold);
  margin-inline: auto;
  margin-block-start: 1.5em;
  padding: 0.75em 2.2em;
  width: fit-content;
}

.cta-link:not([data-color]) {
  box-shadow: 0 0.75em 0.5em -0.37em hsla(12, 88%, 59%, 0.5);
}

.hero__img {
  order: -1;
}

.info__intro {
  margin-block-start: 4em;
  text-align: center;
}

.info__intro > h2 {
  font-size: calc(var(--font-size) * 2);
  margin-inline: auto;
  max-width: 15ch;
}

.info__intro > p {
  margin-block-start: 1em;
}

.info__points {
  display: grid;
  gap: 2em;
  margin-block-start: 3em;
  padding: 0;
}

.info__point > h3 {
  background-color: hsla(12, 88%, 59%, 0.2);
  border-bottom-left-radius: 1000em;
  border-top-left-radius: 1000em;
  font-size: var(--font-size);
  margin-inline-start: 1em;
  padding-block: 0.5em;
  padding-inline-start: 4em;
  position: relative;
}

.info__point > h3::before {
  background-color: var(--color-primary-200);
  border-radius: 1000em;
  color: var(--color-neutral-100);
  content: "01";
  left: 0;
  padding-block: 0.5em;
  padding-inline: 1.25em;
  position: absolute;
  top: 0;
}

.info__points > li:nth-of-type(2) h3::before {
  content: "02";
}

.info__points > li:nth-of-type(3) h3::before {
  content: "03";
}

.info__point > P {
  margin-block-start: 1em;
}

.testimonials {
  padding-block-end: 3em;
  text-align: center;
}

.testimonials h4 {
  font-size: calc(var(--font-size) * 2);
  margin-block-start: 2em;
}

.testimonials__slider {
  display: flex;
  gap: 2em;
  margin-block-start: 4em;
  overflow-x: scroll;
  padding-block-start: 3em;
}

.slider__slide {
  background-color: hsla(227, 12%, 61%, 0.05);
  padding-block: 3em 2em;
  padding-inline: 0.5em;
  position: relative;
  text-align: center;
  min-width: 100%;
}

.slider__slide > img {
  aspect-ratio: 1;
  left: 50%;
  margin-inline: auto;
  max-width: 4.5em;
  position: absolute;
  transform: translateX(-50%) translateY(calc(-3em + -50%));
}

.slider__slide > h5 {
  font-size: calc(var(--font-size) * 1.1);
}

.slider__slide > p {
  text-wrap: balance;
}

.testimonials__indicators {
  display: flex;
  gap: 0.33em;
  justify-content: center;
  margin-block-start: 2em;
  margin-inline: auto;
}

.testimonials__indicator {
  aspect-ratio: 1;
  border: 1px solid var(--color-primary-200);
  border-radius: 50%;
  display: block;
  width: 10px;
}

.testimonials__indicator.current {
  background-color: var(--color-primary-200);
}

.testimonials > .cta-link {
  margin-top: 3em;
}

.cta {
  background-color: var(--color-primary-200);
  background-image: url(./images/bg-simplify-section-mobile.svg);
  background-repeat: no-repeat;
  background-position: left center;
  color: var(--color-neutral-100);
  padding-block: 5em;
  text-align: center;
}

.cta h6 {
  color: inherit;
  font-size: calc(var(--font-size) * 2.5);
  margin: 0;
}

.cta-link[data-color="inverted"] {
  background-color: var(--color-neutral-100);
  color: var(--color-primary-200);
}

footer {
  background-color: var(--color-neutral-900);
  padding-block: 3em 2em;
}

.footer__grid {
  display: grid;
}

.footer__newsletter-form {
  display: flex;
  gap: 5px;
}

.footer__newsletter-form input,
.footer__newsletter-form button {
  border: 0;
  border-radius: 1000em;
  font-size: calc(var(--font-size) * 0.9);
}

.newsletter-form__input {
  padding: 0.5em 2em;
  width: 100%;
}

.newsletter-form__button {
  background-color: var(--color-primary-200);
  color: var(--color-neutral-100);
  font-weight: var(--font-weight-bold);
  padding: 0.5em 1.5em;
  text-transform: uppercase;
}

footer {
  color: var(--color-neutral-100);
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-block-start: 2em;
}

.footer__nav > ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-inline: auto;
  padding: 0;
}

.footer__nav a:is(:hover, :focus-visible) {
  color: var(--color-primary-200);
  opacity: 1;
}

.footer__socials {
  margin-block-start: 1em;
  display: grid;
  gap: 2em;
}

.socials-list > ul {
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  padding: 0;
  place-items: center;
}

.socials-list a:is(:hover, :focus-visible) {
  filter: invert(50%) sepia(87%) saturate(2928%) hue-rotate(338deg)
    brightness(98%) contrast(93%);
  opacity: 1;
  outline: 0;
}

.socials-list img {
  aspect-ratio: 1;
  cursor: pointer;
  width: 2em;
}

.footer__logo {
  margin-inline: auto;
}

footer small {
  color: var(--color-neutral-500);
  display: block;
  margin-block-start: 4em;
  margin-inline: auto;
  text-align: center;
  width: max-content;
}

@media (width > 60em) {
  :root {
    font-size: 19px;
  }

  .desktop-only {
    display: unset !important;
  }

  .mobile-only {
    display: none;
  }

  .container {
    max-width: 60em;
  }

  .desktop-container {
    margin-inline: auto;
    max-width: 60em;
    width: calc(100% - 3em);
  }

  .header {
    justify-content: unset;
  }

  .header > nav {
    display: flex;
    width: 100%;
  }

  .header__nav-list {
    color: var(--color-primary-800);
    display: flex;
    font-size: 0.8rem;
    font-weight: var(--font-weight-bold);
    gap: 2em;
    margin-inline: auto;
  }

  .header__cta {
    margin: auto;
    width: 15%;
  }

  .hero {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }

  .hero__info {
    text-align: start;
  }

  .hero__info > * {
    margin-inline: unset !important;
  }

  h1 {
    font-size: 3rem;
    text-wrap: balance;
  }

  .hero__img {
    order: 1000;
  }

  .info {
    gap: 4em;
    grid-auto-flow: column;
    margin-block-start: 8em;
  }

  .info__intro {
    margin: unset;
    text-align: start;
  }

  .info__intro > h2 {
    font-size: 2.2rem;
    margin-inline: unset;
    max-width: unset;
  }

  .info__intro > p {
    max-width: 35ch;
  }

  .info__points {
    margin: unset;
  }

  .info__point > h3 {
    background-color: transparent;
    font-size: 1.1rem;
    padding-left: 4.5em;
  }

  .info__point > p {
    padding-left: 4.5em;
  }

  .slider__slide {
    min-width: 50%;
  }

  .cta > .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .cta h6 {
    max-width: 20ch;
    text-align: start;
  }

  .cta a {
    margin-block: auto;
    margin-inline: auto 0;
  }

  .footer__grid {
    grid-auto-flow: column;
    grid-template-columns: 1.5fr 3fr 1.5fr;
  }

  .footer__grid > * {
    margin: unset;
  }

  .footer__socials {
    order: -1;
  }

  .footer__logo {
    order: -1;
    margin-block-start: 1em;
    margin-inline: 0 auto;
    width: 60%;
  }

  .socials-list {
    margin-block-start: auto;
    place-self: start;
  }

  .socials-list img {
    max-width: 1.5em;
  }

  .footer__nav > ul {
    margin-inline: 4em;
  }

  .footer__newsletter-form {
    align-items: center;
    order: 1000;
    margin-block: 1em auto;
  }

  footer small {
    text-align: end;
    margin-block-start: unset;
    margin-inline: auto 0;
    transform: translateY(-3.5em);
  }
}
