@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --clr-pr-blue: hsl(220, 98%, 61%);
  --clr-gr-1: hsl(192, 100%, 67%);
  --clr-gr-2: hsl(280, 87%, 65%);

  /* light mode colours */
  --clr-l-v-lght-gry: hsl(0, 0%, 98%);
  --clr-l-v-lght-gry-bl: hsl(236, 33%, 92%);
  --clr-l-lght-gry-bl: hsl(233, 11%, 84%);
  --clr-l-drk-gry-bl: hsl(236, 9%, 61%);
  --clr-l-v-drk-gry-bl: hsl(235, 19%, 35%);

  /* dark mode colours */
  --clr-d-v-drk-bl: hsl(235, 21%, 11%);
  --clr-d-v-drk-dst-bl: hsl(235, 24%, 19%);
  --clr-d-l-gry-bl: hsl(234, 39%, 85%);
  --clr-d-l-gry-bl-h: hsl(236, 33%, 92%);
  --clr-d-d-gry-bl: hsl(234, 11%, 52%);
  --clr-d-v-d-gry-bl-1: hsl(233, 14%, 35%);
  --clr-d-v-d-gry-bl-2: hsl(237, 14%, 26%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

body {
  background-color: var(--clr-d-v-drk-bl);
  background-image: url("images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--clr-d-l-gry-bl);
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--clr-d-d-gry-bl);
  font-family: "Josefin Sans", sans-serif;
}

.desktop-only {
  display: none !important;
}

.app {
  padding: 3em 1.5em;
  position: relative;
  max-width: 375px;
  margin: 0 auto;
}

.app__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 2em;
}

.header__title {
  letter-spacing: 10px;
  font-size: 1.75rem;
}

.header__light-switch img {
  width: 80%;
}

.app__main div {
  background-color: var(--clr-d-v-drk-dst-bl);
}

.main__circle {
  aspect-ratio: 1;
  background-color: var(--clr-d-v-drk-dst-bl);
  border-radius: 50%;
  border: 1px solid var(--clr-d-v-d-gry-bl-1);
  content: "";
  width: 25px;
}

.main__circle:not(.new) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__circle:not(.new):focus .main__circle__outer {
  border: 0;
  background-image: linear-gradient(120deg, var(--clr-gr-1), var(--clr-gr-2));
}

.main__circle__outer {
  aspect-ratio: 1;
  border-radius: 50%;
  content: "";
  display: block;
  position: relative;
  width: 26px;
}

.main__circle__outer:hover {
  border: 0;
  background-image: linear-gradient(120deg, var(--clr-gr-1), var(--clr-gr-2));
}

.main__circle--completed {
  background-image: linear-gradient(120deg, var(--clr-gr-1), var(--clr-gr-2));
}

.main__new {
  align-items: center;
  padding: 1em;
  display: flex;
  gap: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
}

.main__input {
  background-color: transparent;
  border: 0;
  color: var(--clr-d-l-gry-bl);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  padding-block: 0.5em;
  width: 100%;
}

.main__input:focus-visible {
  outline: 0;
  caret-color: var(--clr-pr-blue);
}

.main__list-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  background-color: var(--clr-d-v-drk-dst-bl);
  padding: 1em;
  border-bottom: 1px solid var(--clr-d-v-d-gry-bl-1);
}

.main__list-item:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main__task-name {
  margin-right: auto;
  font-size: 0.8rem;
}

.main__task-name--completed {
  text-decoration: line-through;
}

.main__list-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 1.5em;
  font-size: 0.8rem;
  color: var(--clr-d-d-gry-bl);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main__list-footer button {
  text-align: end;
}

.main__list-footer button:hover,
.main__list-footer button:focus-visible {
  color: #fff;
  outline: 0;
}

.main__list-footer > * {
  width: 100%;
}

.main__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 3em;
  width: 100%;
}

.main__filter button {
  font-size: 1rem;
}

.main__filter button:hover,
.main__filter button:focus-visible {
  color: #fff;
}

.main__filter__selected {
  color: var(--clr-pr-blue);
}

.app__footer {
  text-align: center;
  color: var(--clr-d-d-gry-bl);
  font-weight: 700;
}

/* light mode variations */

.body--light {
  background-image: url("images/bg-mobile-light.jpg");
  background-color: var(--clr-l-v-lght-gry);
  color: var(--clr-l-v-drk-gry-bl);
}

.main__new--light,
.main__list-item--light,
.main__circle--light,
.main__list-footer--light,
.main__filter--light {
  background-color: #fff !important;
}

.main__circle--light {
  border: 1px var(--clr-l-v-lght-gry-bl) solid !important;
}

.main__list-item--light {
  border-color: var(--clr-l-v-lght-gry);
}

.main__list-footer--light button:hover,
.main__list-footer button:focus-visible,
.main__filter--light button:hover,
.main__filter--light button:focus-visible {
  color: var(--clr-l-v-drk-gry-bl);
}

@media (min-width: 600px) {
  body {
    background-image: url(images/bg-desktop-dark.jpg);
  }

  .body--light {
    background-image: url(images/bg-desktop-light.jpg);
  }
}

@media (min-width: 1000px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex !important;
  }

  .app {
    max-width: 600px;
  }

  .main__delete {
    visibility: hidden;
  }

  .main__list-item:hover .main__delete {
    visibility: visible;
  }

  .main__filter {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
