@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  --moderateCyan: hsl(176, 50%, 47%);
  --darkCyan: hsl(176, 72%, 28%);
  --darkGray: hsl(0, 0%, 48%);
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  font-family: "Commissioner", sans-serif;
}

img {
  max-width: 100%;
}

.hide {
  display: none;
}

.container {
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
}

.mobile-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centered {
  text-align: center;
}

.desktop-only {
  display: none;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-container {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__hamburger:hover {
  cursor: pointer;
}

.mobile-nav-menu-container {
  position: absolute;
  top: 5em;
  z-index: 2;
  background-color: #fff;
  border-radius: 10px;
}

.mobile-nav-menu__item {
  list-style: none;
  padding-left: 1em;
  padding-block: 1.5em;
  font-weight: 700;
}

.mobile-nav-menu__item + .mobile-nav-menu__item {
  border-top: hsl(0, 0%, 90%) 1px solid;
}

.mobile-nav-menu__link {
  color: black;
  font-size: 1.1rem;
  text-decoration: none;
}

.main {
  overflow: auto;
  position: relative;
  background: url(images/image-hero-mobile.jpg);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

.card {
  padding: 3em 1em;
  background: white;
  border-radius: 10px;
}

.main .card:first-of-type {
  position: relative;
  margin-top: 17em;
}

.card + .card {
  margin-top: 1em;
}

.card__logo-container {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: -2em;
  transform: translateX(-50%);
}

.title {
  font-weight: 700;
}

.card__text {
  color: var(--darkGray);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.8;
}

.card__button {
  background-color: var(--moderateCyan);
  border-radius: 10em;
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.2em 3em;
  text-align: center;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}

.card__button:hover,
.card__button:focus {
  background-color: var(--darkCyan);
}

.button--sold-out {
  background-color: var(--darkGray);
}

.button--sold-out:focus,
.button--sold-out:hover {
  cursor: default;
  background-color: var(--darkGray);
}

.card__number {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

.card__number + .centered {
  margin-top: -1.5em;
}

.card__progress-bar-container {
  height: 1em;
  width: 100%;
  background-color: #fafafa;
  border-radius: 10px;
}

.card__progress-bar {
  border-radius: 10px;
  height: 1em;
  width: 80%;
  background: var(--moderateCyan);
}

.pledge-div {
  border-radius: 10px;
  border: hsl(0, 0%, 80%) 2px solid;
  padding: 1em 1.5em 2em 1.5em;
  margin-top: 2em;
}

.pledge-div--selected {
  border-color: var(--moderateCyan);
}

.card--about__pledge-div .title {
  font-size: 1.1rem;
}

.pledge-div__subheading {
  color: var(--moderateCyan);
  font-size: 1rem;
}

.div--sold-out {
  opacity: 0.5;
}

.modal-container {
  position: absolute;
  z-index: 5;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
}

aside .card {
  padding-top: 0;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__close:hover {
  cursor: pointer;
}

.pledge__input-container {
  display: flex;
  align-items: center;
}

.pledge__radio:hover {
  cursor: pointer;
}

.div--sold-out .pledge__radio:hover {
  cursor: default;
}

.pledge__label {
  line-height: 1.5;
}

.pledge-div__enter {
  position: relative;
  margin-left: -1.5em;
  width: calc(100% + 3em);
  border-top: hsl(0, 0%, 80%) 1px solid;
}

.enter__input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.enter__number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: hsl(0, 0%, 80%) 1px solid;
  border-radius: 10em;
}

.enter__input {
  width: 45px;
  font-size: 1.25rem;
  text-align: right;
  margin-top: 2.5px;
  border: none;
  outline: none;
  font-weight: 700;
}

.enter__button {
  width: 50%;
}

.modal--success {
  z-index: 10;
}

.success__img {
  margin-top: 1em;
}

.success__button {
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 800px;
  }

  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .main {
    background-image: url(images/image-hero-desktop.jpg);
    background-size: 100%;
  }

  .main .card:first-of-type {
    position: relative;
    margin-top: 28em;
  }

  .card__button--bookmark {
    background-color: var(--darkGray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 1em;
  }

  .padding {
    padding-inline: 1em;
  }

  .stat {
    width: 100%;
  }
}
