:root {
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-500: hsl(186, 15%, 59%);
  --color-neutral-900: hsl(187, 24%, 22%);
  --color-red: hsl(0, 66%, 54%);

  --font-weight-light: 400;
  --font-weight-medium: 700;
}

@font-face {
  font-family: "Karla";
  src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Karla";
  font-style: italic;
  src: url(./assets/fonts/Karla-Italic-VariableFont_wght.ttf);
}

body {
  background-color: var(--color-green-200);
  font-family: "Karla", sans-serif;
  display: grid;
  margin: 0;
  min-height: 100dvh;
  place-content: center;
}

h2 {
  margin: 0;
}

form {
  background-color: var(--color-neutral-100);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;

  & label:has(:not(input[type="radio"])), /* selects every label that doesn't contain a radio input */
  div {
    display: grid;
    gap: 0.5em;
  }

  & p {
    margin: 0;
  }

  & .form__error {
    display: none;
  }
}

label[for="consent"] {
  align-items: center;
  display: flex !important;
  flex-wrap: wrap;
  font-size: 0.9rem;
  & > .form__error {
    width: 100%;
  }
}

@media (width > 800px) {
  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
