@font-face {
  font-family: "Karla";
  src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Karla";
  font-style: italic;
  src: url(./assets/fonts/Karla-Italic-VariableFont_wght.ttf);
}

body {
  font-family: "Karla", sans-serif;
  display: grid;
  margin: 0;
  min-height: 100dvh;
  place-content: center;
}

form,
form > * {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form > * {
  gap: 0.5em;
}
