@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-700: hsl(0, 0%, 59%);
  --color-neutral-900: hsl(0, 0%, 17%);

  --font-family: "Rubik", sans-serif;
  --font-size-regular: 1.125rem;
  --font-size-small: 0.7rem;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  cursor: pointer;
}

.container {
  margin-inline: auto;
  max-width: 1100px;
  width: calc(100vw - 2em);
}

body {
  color: var(--color-neutral-900);
  font-family: var(--font-family);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-rows: 38vh 1fr;
}

.info {
  background-image: url(./images/pattern-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 1px;
  margin-block: 0.5em;
}

.info__input {
  --radius: 1em;
  display: flex;
  max-width: 40em;
  margin-inline: auto;
}

.info__input > * {
  padding: 1em;
}

.info__input > input {
  border: 0;
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
  font-weight: var(--font-weight-regular);
  width: 82%;
}

.info__input > button {
  background-color: var(--color-neutral-900);
  background-image: url(./images/icon-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border: 0;
  width: 18%;
}

.info__input > button:hover {
  filter: brightness(1.75);
}

.info__error {
  color: var(--color-neutral-100);
  display: block;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  margin-top: 1em;
  visibility: hidden;
}

.info__error.show {
  visibility: visible;
}

.info__facts {
  background-color: var(--color-neutral-100);
  border-radius: 1em;
  display: grid;
  gap: 1em;
  margin-top: 1em;
  padding-block: 1em;
}

.fact__label {
  color: var(--color-neutral-700);
  font-size: var(--font-size-small);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.map {
  height: 62vh;
  z-index: -10;
}

@media (min-width: 60.75em) {
  :root {
    --font-size-small: 0.9rem;
    --font-size-regular: 1.3rem;
  }

  .info__facts {
    grid-template-columns: repeat(4, 1fr);

    padding-block: 2em;
    text-align: start;
  }

  .facts__fact {
    display: grid;
    padding-inline: 2em;
  }

  .facts__fact:not(:last-of-type) {
    border-right: 1px solid var(--color-neutral-700);
  }
}
