@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
:root {
  --clr-soft-red: hsl(10, 79%, 65%);
  --clr-cyan: hsl(186, 34%, 60%);
  --clr-ntr-200: hsl(25, 47%, 15%);
  --clr-ntr-400: hsl(28, 10%, 53%);
  --clr-ntr-600: hsl(27, 66%, 92%);
  --clr-ntr-800: hsl(33, 100%, 98%);

  --ff: "DM Sans", sans-serif;
  --fs: 1.125rem;
  --fw-med: 400;
  --fw-bold: 700;

  --padding: 1.5em 2em;
  --radius: 10px;
  --space: 1em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: l;
}

body {
  background-color: var(--clr-ntr-600);
  color: var(--clr-ntr-400);
  display: grid;
  font-family: var(--ff);
  font-size: var(--fs);
  min-height: 100vh;
  overflow-y: hidden;
  place-items: center;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-inline: auto;
  max-width: 375px;
  width: calc(100vw - 2em);
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.column > * {
  margin-block: 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.small {
  font-size: calc(var(--fs) * 0.9);
  font-weight: var(--fw-med);
}

.big {
  font-size: calc(var(--fs) * 2);
  font-weight: var(--fw-bold);
}

.white {
  color: var(--clr-ntr-800);
}

.black {
  color: var(--clr-ntr-200);
  font-weight: var(--fw-bold);
}

.right {
  text-align: right;
}

.header,
.main {
  background-color: var(--clr-soft-red);
  border-radius: var(--radius);
  padding: var(--padding);
}

.main {
  background-color: var(--clr-ntr-800);
  margin-top: var(--space);
}

.main__chart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  height: 250px;
}

.chart__bars,
.chart__labels {
  display: grid;
  gap: 0.66em;
  grid-template-columns: repeat(7, 1fr);
}

.chart__bar-container {
  display: flex;
  margin-top: auto;
  position: relative;
}

.chart__bar-container:hover > .chart__bar {
  opacity: 0.66;
}

.chart__bar-container:hover > .chart__popup {
  display: block;
}

.chart__bar {
  background-color: var(--clr-soft-red);
  border-radius: 5px;
  content: "";
  display: block;
  height: 100%;
  margin-top: auto;
  max-height: 180px;
  width: 100%;
}

.chart__bar--current {
  background-color: var(--clr-cyan);
}

.chart__popup {
  background-color: var(--clr-ntr-200);
  border-radius: 5px;
  color: var(--clr-ntr-800);
  font-size: calc(var(--fs) * 0.66);
  display: none;
  left: 50%;
  max-width: 66px;
  padding: 10px 5px;
  position: absolute;
  text-align: center;
  top: -3.5em;
  transform: translateX(-50%);
  width: 150%;
}

.chart__label {
  font-size: calc(var(--fs) * 0.7);
  text-align: center;
  width: 100%;
}

h1 {
  font-size: calc(var(--fs) * 1.33);
  font-weight: var(--fw-bold);
  margin: 0;
}

hr {
  border: 1px var(--clr-ntr-600) solid;
}

@media (min-width: 700px) {
  .container {
    max-width: 450px;
  }

  h1 {
    font-size: calc(var(--fs) * 1.6);
  }

  .chart__popup {
    font-size: calc(var(--fs) * 0.75);
    top: -3.25em;
  }
}
