@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-dark-grey: hsl(0, 0%, 63%);
  --clr-v-dark-grey: hsl(0, 0%, 27%);
  --clr-black: hsl(0, 0%, 0%);

  --fw-bold: 500;
  --fw-bolder: 600;
  --fw-boldest: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a,
button {
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-dark-grey);
  font-family: "Spartan", Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  line-height: 1.6;
}

h2,
h3 {
  color: var(--clr-black);
  font-size: 1.65rem;
  font-weight: var(--fw-boldest);
}

.sr-only {
  position: absolute;
  top: -10000%;
  visibility: hidden;
}

.container {
  margin-inline: auto;
  width: min(calc(100vw - 4em), 1000px);
}

.mobile-menu::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.mobile-menu {
  border: 0;
  min-width: 100%;
  padding-block: 4em;
  z-index: 10;
}

.mobile-menu > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mobile-menu__close {
  background-color: transparent;
  width: fit-content;
  width: -moz-fit-content;
}

.mobile-menu__nav > .nav__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 2.5em;
  color: var(--clr-black);
  font-weight: var(--fw-boldest);
}

.header {
  align-items: center;
  background-color: transparent;
  display: flex;
  padding-block: 4em;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__nav {
  display: none;
}

.header__hamburger {
  background-color: transparent;
  position: absolute;
}

.header__logo {
  margin-inline: auto;
}

.slide__img-container {
  min-height: 45vh;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 0;
}

.slide__change-btn {
  background-color: var(--clr-black);
  bottom: 0;
  display: flex;
  padding: 1.5em 2em;
  position: absolute;
  right: 0;
}

.slide__change-btn > img {
  margin: auto;
}

.slide__change-btn--prev {
  transform: translateX(-100%);
}

.hero__slide {
  display: none;
}

.hero__slide.selected {
  display: block;
}

.hero__slide--1 > .slide__img-container {
  background-image: url(./images/mobile-image-hero-1.jpg);
}
.hero__slide--2 > .slide__img-container {
  background-image: url(./images/mobile-image-hero-2.jpg);
}
.hero__slide--3 > .slide__img-container {
  background-image: url(./images/mobile-image-hero-3.jpg);
}

.slide__content,
.about__content {
  padding-block: 6em;
}

.slide__title {
  letter-spacing: -0.5px;
  line-height: 1.2;
}

.slide__body,
.about__body {
  font-weight: var(--fw-bold);
  margin-top: 0.9em;
  min-height: 12em;
}

.slide__cta {
  align-items: center;
  color: var(--clr-v-dark-grey);
  display: flex;
  font-size: 0.8rem;
  font-weight: var(--fw-bolder);
  gap: 2em;
  letter-spacing: 10px;
  line-height: 1;
  margin-top: 2em;
  text-transform: uppercase;
}

.about__title {
  color: var(--clr-black);
  font-size: 0.85rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: var(--fw-boldest);
}
