@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --clr-primary-400: hsl(25, 97%, 53%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(217, 12%, 63%);
  --clr-neutral-300: hsl(216, 12%, 54%);
  --clr-neutral-400: hsl(213, 19%, 22%);
  --clr-neutral-500: hsl(213, 19%, 18%);
  --clr-neutral-800: hsl(216, 12%, 8%);

  --fw-400: 400;
  --fw-700: 700;

  --fs-400: 0.9375rem;

  --space: 1.2em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-200);
  display: flex;
  font-family: "Overpass", sans-serif;
  font-size: var(--fs-400);
  min-height: 100vh;
}

img {
  max-width: 100%;
}

button {
  border: 0;
  cursor: pointer;
  font: inherit;
}

.card {
  background-color: var(--clr-neutral-500);
  border-radius: 15px;
  margin: auto;
  padding: 1.66em 1.66em 2em 1.66em;
  width: min(calc(100vw - 2em), 400px);
}

.card__content--initial {
  display: none;
}

.card__img-container {
  aspect-ratio: 1;
  background-color: var(--clr-neutral-400);
  border-radius: 50%;
  display: grid;
  place-items: center;
  width: 40px;
}

.card h2 {
  color: var(--clr-neutral-100);
  margin-top: var(--space);
}

.card p {
  margin-top: var(--space);
  line-height: 1.6;
}

.card .row {
  display: grid;
  gap: 1.1em;
  grid-template-columns: repeat(5, 1fr);
  margin-top: var(--space);
  width: 100%;
}

.card__rating-btn {
  aspect-ratio: 1;
  background-color: var(--clr-neutral-400);
  border-radius: 50%;
  color: inherit;
}

.card__submit {
  background-color: var(--clr-primary-400);
  border-radius: 10em;
  color: var(--clr-neutral-100);
  margin-top: var(--space);
  letter-spacing: 2px;
  padding-block: 0.66em;
  text-transform: uppercase;
  width: 100%;
}

.card__content--complete {
  text-align: center;
}

.card__img--thanks {
  margin-top: var(--space);
}

.card__accent {
  background-color: var(--clr-neutral-400);
  border-radius: 10em;
  color: var(--clr-primary-400);
  display: flex;
  height: 30px;
  margin: 0 auto;
  margin-top: var(--space);
  padding-inline: 10px;
  width: fit-content;
  width: moz-fit-content;
}

.card__accent > span {
  margin: auto;
}
