@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --clr-add-btn: hsl(26, 100%, 55%);
  --clr-selected-thumb: hsl(25, 100%, 94%);

  --clr-title: hsl(220, 13%, 13%);
  --clr-body: hsl(219, 9%, 45%);
  --clr-old-price: hsl(220, 14%, 75%);
  --clr-buy-container: hsl(223, 64%, 98%);
  --clr-bg: #fff;

  --ff-body: "Kumbh Sans", sans-serif;

  --fs-body: 1rem;

  --fw-normal: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  min-height: 100vh;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  font: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.sr-only {
  display: none;
}

.desktop-only {
  display: none;
}

.container {
  margin: 0 auto;
  width: min(95%, 335px);
}

.header {
  padding: 1em 0 1.5em 0;
}

.header > .container {
  align-items: center;
  display: flex;
}

.header__open-nav {
  margin-right: 0.5em;
  margin-top: 3px;
}

.header__user-info {
  align-items: center;
  display: flex;
  gap: 1em;
  margin-left: auto;
}

.user-info__cart {
  aspect-ratio: 1;
  background-image: url(./images/icon-cart.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 20px;
}

.cart__label {
  background-color: var(--clr-add-btn);
  color: #fff;
  font-size: calc(var(--fs-body) / 1.5);
  padding: 1px 7px;
  border-radius: 10em;
  position: absolute;
  right: -7px;
  top: -5px;
  font-weight: var(--fw-bold);
}

.user-info__profile {
  aspect-ratio: 1;
  background-image: url(./images/image-avatar.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  border: 2px solid transparent;
  border-radius: 50%;
}

.main__cart {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  display: none;
  grid-template-rows: auto 1fr;
  left: 50%;
  min-height: 275px;
  position: fixed;
  transform: translate(-50%, 2.5%);
  width: min(95%, 370px);
  z-index: 1000;
}

.main__cart.open {
  display: grid;
}

.cart__header {
  padding: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart__header > h2 {
  color: var(--clr-title);
  font-size: calc(var(--fs-body) * 1.1);
}

.cart__main {
  color: var(--clr-body);
  font-weight: var(--fw-bold);
  margin: auto;
  padding: 1.5em;
}

.cart__contents {
  display: flex;
  align-items: center;
  gap: 1em;
}

.contents__img {
  aspect-ratio: 1;
  max-width: 50px;
  border-radius: 5px;
}

.contents__info {
  display: grid;
  grid-auto-flow: row;
  gap: 0.33em;
  width: 100%;
  font-weight: var(--fw-normal);
  color: var(--clr-body);
}

.contents__info strong {
  color: var(--clr-title);
  font-weight: var(--fw-bold);
  margin-left: 0.25em;
  font-size: calc(var(--fs-body) * 1.1);
}

.info__name {
  width: 100%;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contents__delete {
  aspect-ratio: 1;
  width: 20px;
  background-image: url(./images/icon-delete.svg);
  background-repeat: no-repeat;
}

.cart__checkout {
  background-color: var(--clr-add-btn);
  border-radius: 10px;
  color: #fff;
  margin-top: 1.5em;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.main__gallery,
.lightbox__main-img {
  align-items: center;
  background-image: url(/images/image-product-1.jpg);
  background-position: bottom 50% left 50%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 600px;
  min-height: 35vh;
  padding: 0 1em;
}

.gallery__button,
.lightbox__arrow {
  aspect-ratio: 1;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  border-radius: 50%;
  width: 40px;
}

#nxt-img-btn,
#lightbox-next {
  background-image: url(./images/icon-next.svg);
}

#prev-img-btn,
#lightbox-prev {
  background-image: url(./images/icon-previous.svg);
}

.product__company-name {
  color: var(--clr-add-btn);
  font-size: calc(var(--fs-body) / 1.25);
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  margin-top: 2em;
  text-transform: uppercase;
}

.product__name {
  font-size: calc(var(--fs-body) * 2);
  line-height: 1.25;
  margin-top: 0.25em;
}

.product__description {
  line-height: 1.5;
  margin-top: 0.75em;
  color: var(--clr-body);
  font-weight: var(--fw-normal);
}

.product__pricing {
  align-items: center;
  display: flex;
  font-weight: var(--fw-bold);
  gap: 0.75em;
  margin-top: 2em;
}

.pricing__current {
  color: var(--clr-title);
  font-size: calc(var(--fs-body) * 1.66);
}

.pricing__discount {
  background-color: var(--clr-selected-thumb);
  border-radius: 5px;
  color: var(--clr-add-btn);
  padding: 0 5px;
}

.pricing__normal {
  color: var(--clr-old-price);
  margin-left: auto;
  text-decoration: line-through;
}

.pricing__buy {
  margin-top: 1em;
}

.buy__controls {
  background-color: var(--clr-buy-container);
  border-radius: 10px;
  color: var(--clr-title);
  display: flex;
  font-weight: var(--fw-bold);
  justify-content: space-between;
  margin-top: 1em;
  padding: 1em;
}

.buy__button {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  padding: 1em;
}

.buy__button:focus-visible,
.buy__button:hover {
  opacity: 0.5;
}

#add {
  background-image: url(./images/icon-plus.svg);
}

#subtract {
  background-image: url(./images/icon-minus.svg);
}

.buy__add-to-cart {
  align-items: center;
  background-color: var(--clr-add-btn);
  border-radius: 10px;
  box-shadow: 0 5px 20px -5px var(--clr-add-btn);
  color: #fff;
  display: flex;
  font-weight: var(--fw-bold);
  gap: 0.75em;
  justify-content: center;
  margin-top: 1em;
  padding: 1em;
  width: 100%;
}

.buy__add-to-cart > img {
  width: 18px;
}

.lightbox-bg {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  display: none;
  inset: 0;
  position: fixed;
}

.open {
  display: block;
}

.nav--mobile {
  background-color: #fff;
  left: 0;
  min-height: 100vh;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 66vw;
}

.nav--mobile__close {
  margin-bottom: 3em;
  padding: 0;
}

.nav--mobile__link {
  color: var(--clr-title);
  display: block;
  font-size: calc(var(--fs-body) * 1.15);
  font-weight: var(--fw-bold);
}

.nav--mobile__link + .nav--mobile__link {
  margin-top: 1em;
}

@media (min-width: 1000px) {
  .container,
  .desktop-container {
    width: min(95%, 1250px);
    margin: 0 auto;
  }

  .desktop-only {
    display: block;
  }

  .mobile-container {
    width: 100%;
  }

  .header {
    padding: 2em 0;
  }

  .header__open-nav {
    display: none;
  }

  .header > .container {
    gap: 0;
    flex-wrap: wrap;
  }

  .nav--desktop {
    color: var(--clr-body);
    margin-left: 4em;
  }

  .nav--desktop__link {
    display: inline-block;
  }

  .nav--desktop__link + .nav--desktop__link {
    margin-left: 2em;
  }

  .nav--desktop__link::after {
    background-color: var(--clr-add-btn);
    content: "";
    display: block;
    height: 5px;
    position: relative;
    transform: translateY(52px);
    visibility: hidden;
    width: 100%;
  }

  .nav--desktop__link:hover,
  .nav--desktop__link:focus-visible {
    color: var(--clr-title);
    position: relative;
    outline: 0;
  }

  .nav--desktop__link:hover.nav--desktop__link::after,
  .nav--desktop__link:focus-visible.nav--desktop__link::after {
    visibility: visible;
  }

  .user-info__profile {
    background-size: cover;
    width: 50px;
    margin-left: 2em;
  }

  .user-info__profile:hover,
  .user-info__profile:focus-visible {
    border-radius: 50%;
    border: 2px solid var(--clr-add-btn);
    outline: 0;
  }

  .header hr {
    width: 100%;
    flex: none;
    margin-top: 2.5em;
    border: 1px rgba(0, 0, 0, 0.1) solid;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8em;
    padding: 3em;
  }

  .main__cart {
    left: unset;
    top: 7.5%;
    right: 2.5%;
    transform: translate(0, 0);
  }

  .main__gallery-container {
    --radius: 15px;
    width: 100%;
    display: grid;
    grid-template-rows: 80% auto;
  }

  .main__gallery {
    aspect-ratio: 1;
    border-radius: var(--radius);
    cursor: pointer;
    max-width: 500px;
    width: 100%;
  }

  .gallery__button {
    display: none;
  }

  .gallery__thumbnails,
  .lightbox__thumbnails {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .gallery__thumbnail,
  .lightbox__thumbnail {
    aspect-ratio: 1;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #fff;
    border-radius: var(--radius);
    margin-top: 2em;
    padding: 0;
    position: relative;
    width: 21%;
  }

  .gallery__thumbnail:focus-visible,
  .lightbox__thumbnail:focus-visible {
    outline: 0;
  }

  .gallery__thumbnail.selected,
  .lightbox__thumbnail.selected {
    border: 4px solid var(--clr-add-btn);
    position: relative;
  }

  .gallery__thumbnail::before,
  .lightbox__thumbnail::before {
    background-color: var(--clr-selected-thumb);
    content: "";
    display: none;
    inset: 0;
    opacity: 0.66;
    position: absolute;
  }

  .gallery__thumbnail:hover::before,
  .gallery__thumbnail:focus-visible::before,
  .lightbox__thumbnail:hover::before,
  .lightbox__thumbnail:focus-visible::before {
    display: block;
  }

  .gallery__thumbnail.selected::before,
  .lightbox__thumbnail.selected::before {
    display: block;
    border-radius: calc(var(--radius) - 2px);
  }

  #thumb-1,
  #lightbox-thumb-1 {
    background-image: url(./images/image-product-1-thumbnail.jpg);
  }

  #thumb-2,
  #lightbox-thumb-2 {
    background-image: url(./images/image-product-2-thumbnail.jpg);
  }

  #thumb-3,
  #lightbox-thumb-3 {
    background-image: url(./images/image-product-3-thumbnail.jpg);
  }

  #thumb-4,
  #lightbox-thumb-4 {
    background-image: url(./images/image-product-4-thumbnail.jpg);
  }

  .main__product {
    margin-top: 2em;
  }

  .product__company-name {
    font-size: calc(var(--fs-body) * 0.9);
  }

  .product__name {
    font-size: calc(var(--fs-body) * 2);
  }

  .product__description {
    margin-top: 2em;
    font-size: calc(var(--fs-body) * 1.1);
  }

  .product__pricing {
    flex-wrap: wrap;
  }

  .pricing__normal {
    width: 100%;
  }

  .product__buy {
    margin-top: 3.5em;
    display: flex;
    gap: 1em;
  }

  .buy__controls {
    width: 40%;
  }

  .buy__add-to-cart {
    width: 60%;
    font-size: calc(var(--fs-body) * 1.1);
  }

  .buy__add-to-cart:hover,
  .buy__add-to-cart:focus-visible {
    opacity: 0.5;
    outline: 0;
  }

  .lightbox {
    display: flex;
    flex-direction: column;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max(40%, 300px);
  }

  .lightbox__close {
    align-self: flex-end;
    aspect-ratio: 1;
    background-image: url(./images/icon-close-lightbox.svg);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    width: 20px;
  }

  .lightbox__main-img {
    aspect-ratio: 1;
    border-radius: 1em;
    display: relative;
    margin-top: 1em;
    padding: 0;
    width: 100%;
  }

  .lightbox__arrow {
    width: 50px;
  }

  #lightbox-prev {
    position: absolute;
    left: -4.5%;
  }

  #lightbox-next {
    position: absolute;
    right: -4.5%;
  }

  .lightbox__thumbnails {
    --radius: 15px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-inline: 2em;
  }

  .lightbox__thumbnail {
    width: 19%;
  }
}

@media (min-width: 1200px) {
  .product__name {
    font-size: calc(var(--fs-body) * 3);
  }
}
