/*RESET START*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*RESET END*/

@font-face {
  font-family: Manrope;
  font-weight: 500;
  src: url(./fonts/Manrope-Medium.ttf);
}

@font-face {
  font-family: Manrope;
  font-weight: 700;
  src: url(./fonts/Manrope-Bold.ttf);
}

:root {
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(210, 46%, 95%);
  --color-neutral-300: hsl(212, 23%, 69%);
  --color-neutral-500: hsl(214, 17%, 51%);
  --color-neutral-700: hsl(217, 19%, 35%);

  --font-family: "Manrope", sans-serif;
  --font-size-body: 0.8125rem;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-color-light: (var(--color-neutral-500));
  --font-color-dark: (var(--color-neutral-700));
}

body {
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-700);
  display: grid;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
  line-height: 1.6;
  min-height: 100vh;
}

body {
  min-height: 100svh;
}

main {
  margin: auto;
}

.article-preview {
  --border-radius: 1rem;
  background-color: var(--color-neutral-100);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40% auto;
  margin: auto;
  width: calc(100% - 3rem);
}

.preview__image {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  filter: brightness(1.1);
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.preview__content {
  display: grid;
  gap: 1rem;
  margin-block-start: auto;
  margin-inline: auto;
}

.preview__title,
.preview__body {
  padding-inline: 2rem;
}

.preview__title {
  font-size: calc(var(--font-size-body) * 1.25);
  font-weight: var(--font-weight-bold);
}

.preview__info,
.preview__share {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr auto;
  margin-top: auto;
  min-height: 75px;
  padding-inline: 2rem;
  place-content: center;
}

.preview__info.closed {
  display: none;
}

.info__image {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 35px;
}

.preview__info > div {
  display: grid;
}

.info__author {
  color: var(--font-color-dark);
  font-weight: var(--font-weight-bold);
}

.info__button {
  aspect-ratio: 1;
  background-color: var(--color-neutral-200);
  border: 0;
  border-radius: 50%;
  margin: auto;
  width: 30px;
}

.info__button::after {
  aspect-ratio: 1;
  background-image: url("./images/icon-share.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: grid;
  width: 100%;
}

.preview__share {
  background-color: var(--color-neutral-700);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  color: var(--color-neutral-300);
  display: none;
}

.preview__share.open {
  display: grid;
}

.preview__share > * {
  margin-block: auto;
}

.preview__share > span {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.preview__share > div {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  margin-inline-end: auto;
}

.preview__share > div > * {
  margin: auto;
}

.info__button[data-close] {
  background-color: var(--color-neutral-500);
  /* transform: translateX(0.4rem);*/
}

.info__button[data-close]::after {
  filter: brightness(1000%);
}
