/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*RESET ENDS*/

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

:root {
  --color-primary-500: hsl(259, 100%, 65%);
  --color-primary-600: hsl(0, 100%, 67%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(0, 0%, 94%);
  --color-neutral-400: hsl(0, 0%, 86%);
  --color-neutral-700: hsl(0, 1%, 44%);
  --color-neutral-900: hsl(0, 0%, 8%);

  --font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-900);
  display: grid;
  font-family: var(--font-family);
  font-weight: 800;
  min-height: 100vh;
  place-content: center;
}

.app {
  background-color: var(--color-neutral-100);
  border-radius: 1em;
  border-bottom-right-radius: 33%;
  max-width: 900px;
  padding: 3em;
  position: relative;
  width: calc(100vw - 2em);
}

.form__grid {
  display: grid;
  gap: 2em;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 11em);
}

.form__grid-item {
  display: grid;
  font-size: 0.9rem;
  gap: 0.5em;
}

.form__grid-item > label {
  color: var(--color-neutral-700);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.app__form input {
  border-radius: 0.33em;
  border: 2px var(--color-neutral-400) solid;
  font-size: 2rem;
  font-weight: 800;
  outline: 0;
  padding: 0.4em 0.8em;
  width: 100%;
}

.app__form input:focus-within {
  border-color: var(--color-primary-500);
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form__grid-item > span {
  color: var(--color-primary-600);
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 400;
  visibility: hidden;
}

.form__grid-item:has(input[data-error]) > label {
  color: var(--color-primary-600);
}
.form__grid-item:has(input[data-error]) > input {
  border-color: var(--color-primary-600);
}
.form__grid-item:has(input[data-error]) > span {
  visibility: visible;
}

.app__form > hr {
  border-top: 2px solid var(--color-neutral-400);
  margin-block: 3em;
  margin-inline-end: 5em;
  width: 90%;
}

.app__form > button {
  aspect-ratio: 1;
  background-color: var(--color-primary-500);
  background-image: url(./assets/images/icon-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 4em;
  transform: translateY(-6.26em);
  width: 100px;
}

.app__form > button:is(:hover, :focus-visible, [disabled]) {
  background-color: var(--color-neutral-900);
}

.app__results {
  display: grid;
  font-size: 5rem;
  font-style: italic;
  font-weight: 800;
}

.app__results > p {
  line-height: 1.2;
}

.app__results span {
  color: var(--color-primary-500);
}

@media (max-width: 650px) {
  body {
    display: block;
  }

  .app {
    margin-inline: auto;
    margin-top: 5em;
    padding: 3em 1em;
  }

  .form__grid {
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }

  .app__form label,
  .app__form span {
    font-size: 0.75rem;
  }

  .app__form input {
    font-size: 1rem;
  }

  .app__form hr {
    width: 100%;
  }

  .app__form button {
    background-size: 40%;
    left: 50%;
    right: unset;
    top: unset;
    transform: translateX(-50%) translateY(-4.7em);
    width: 50px;
  }

  .app__results {
    font-size: 3.5rem;
  }
}
