@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --clr-primary-desat: hsl(0, 36%, 70%);
  --clr-primary-soft: hsl(0, 93%, 68%);
  --clr-neutral: hsl(0, 6%, 24%);
  --grad-1: linear-gradient(135deg, hsl(0%, 0%, 100%), hsl(0%, 100%, 98%));
  --grad-2: linear-gradient(hsl(0%, 80%, 86%), hsl(0%, 75%, 74%));

  --fs-body: 1rem;
  --fs-title: 3rem;
  --fs-error: 0.8rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--clr-primary-desat);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--clr-primary-desat);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--clr-primary-desat);
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

.hide {
  display: none;
}

.header {
  padding: 2em;
  width: 100%;
}

.header__logo {
  width: 35%;
}

.hero-container {
  background-image: url(/images/hero-mobile.jpg);
  min-height: 35vh;
  background-size: 100%;
  background-repeat: no-repeat;
}

.main__container {
  width: 90%;
  margin: 0 auto;
  max-width: 337.5px;
  text-align: center;
  padding-bottom: 3em;
}

.main__info {
  padding: 3em 0;
}

.info__title {
  font-size: var(--fs-title);
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--clr-neutral);
}

.info__title::first-line {
  color: var(--clr-primary-desat);
  font-weight: 300;
}

.info__body {
  margin-top: 1em;
  color: var(--clr-primary-desat);

  line-height: 1.5;
  font-size: var(--fs-body);
}

.main__form {
  border: 1px solid var(--clr-primary-desat);
  border-radius: 10em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.main__form--error {
  border-color: var(--clr-primary-soft);
}

.form__input {
  padding: 0.8em 2em;
  border: none;
  background-color: transparent;
  color: var(--clr-primary-desat);
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--fs-body);
  width: 70%;
}

.form__input:focus {
  outline: none;
}

.form__button {
  display: block;
  border-radius: 10em;
  width: 20%;
  padding: 1em;
  border: none;
  background-image: linear-gradient(135deg, white, var(--clr-primary-soft));
  color: #fff;
  cursor: pointer;
  box-shadow: 0 20px 20px rgba(175, 0, 0, 0.5);
}

.form__button:hover {
  background-image: linear-gradient(135deg, #ebc9c9, #ebc9c9);
}

.main__error-msg {
  margin-top: 1em;
  text-align: center;
  color: var(--clr-primary-soft);
  font-size: var(--fs-error);
}

@media (min-width: 1200px) {
  :root {
    --fs-title: 5rem;
    --fs-body: 1.5rem;
    --fs-error: 1.25rem;
  }
  body {
    display: grid;
    grid-template-columns: auto 40vw;
    grid-template-rows: 10vh auto;
  }

  .header {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    padding: 2em 4.5em;
  }

  .header__logo {
    width: 25%;
  }

  .main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .main__container {
    padding-top: 5em;
    width: 80%;
    max-width: 1000px;
    text-align: left;
  }

  .info__title {
    letter-spacing: 20px;
  }

  .hero-container {
    background-image: url(images/hero-desktop.jpg);
    background-size: cover;
    grid-column: 2/-1;
    grid-row: 1/-1;
  }

  .form__button {
    padding: 1.5em;
  }
}
