@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
:root {
  --clr-cyan: hsl(180, 66%, 49%);
  --clr-violet: hsl(257, 27%, 26%);
  --clr-red: hsl(0, 87%, 67%);

  --clr-ntr-200: hsl(0, 0%, 75%);
  --clr-ntr-300: hsl(257, 7%, 63%);
  --clr-ntr-800: hsl(255, 11%, 22%);
  --clr-ntr-900: hsl(260, 8%, 14%);

  --fs-m: 1.125rem;
  --fs-l: 1.25rem;
  --fs-xl: 2.2rem;
  --ff: "Poppins", sans-serif;
  --fw-med: 500;
  --fw-bold: 700;

  --space: 1em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--clr-ntr-300);
  font-family: var(--ff);
  font-size: var(--fs-m);
  font-weight: var(--fw-med);
  line-height: 1.5;
  text-align: center;
}

button,
form,
a,
input {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  margin-inline: auto;
  max-width: 350px;
  width: calc(100vw - 2em);
}

.row {
  align-items: center;
  display: flex;
}

.header {
  padding-block: calc(var(--space) * 1.5) var(--space);
}

.header > .row {
  justify-content: space-between;
}

.header__open-menu {
  aspect-ratio: 1;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 30px;
}

.header__open-menu > i {
  color: var(--clr-ntr-300);
  font-size: 1.5rem;
}

.header__nav {
  display: none;
}

.hero__img {
  object-fit: cover;
  object-position: right -7.5vw top 0;
  width: 130%;
}

.hero__content {
  margin-top: calc(var(--space) * 2);
}

.hero__title {
  color: var(--clr-ntr-800);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

.main__hero p {
  font-size: var(--fs-m);
  margin-top: var(--space);
}

.hero__cta {
  background-color: var(--clr-cyan);
  border-radius: 10em;
  color: #fff;
  display: block;
  margin-inline: auto;
  margin-top: var(--space);
  padding: calc(var(--space) * 0.5) var(--space);
  width: 55%;
}

.main__url-shrinker {
  --border: 5px;
  background-color: var(--clr-violet);
  background-image: url(./images/bg-shorten-mobile.svg);
  background-position: top -50% right 0;
  background-repeat: no-repeat;
  border-radius: var(--border);
  display: flex;
  flex-direction: column;
  gap: var(--space);
  padding: var(--space);
}

.main__url-shrinker > * {
  border: 0;
  border-radius: var(--border);
  padding: calc(var(--space) * 0.5);
}

.main__url-shrinker > input {
  color: var(--clr-ntr-300);
}

.main__url-shrinker > button {
  background-color: var(--clr-cyan);
  color: #fff;
}
