@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

:root {
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-500: hsl(0, 0%, 75%);
  --color-neutral-600: hsl(257, 7%, 63%);
  --color-neutral-800: hsl(255, 11%, 22%);
  --color-neutral-900: hsl(260, 8%, 14%);

  --color-cyan: hsl(180, 66%, 49%);
  --color-red: hsl(0, 87%, 67%);
  --color-violet: hsl(257, 27%, 26%);

  --font-family-sans-serif: "Poppins", system-ui, sans-serif;
  --font-weight-500: 500;
  --font-weight-700: 700;
}

/*  RESET  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin-block-end: 0;
}

body {
  margin: 0;
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILITY CLASSES */

.container {
  margin-inline: auto;
  max-width: 80em;
  width: calc(100% - 2em);
}

.sr-only {
  aspect-ratio: 1;
  height: 1;
  opacity: 0;
  position: absolute;
  top: -1000vh;
}

.flex {
  display: flex;
  gap: var(--gap, 1em);
}
.grid {
  display: grid;
  gap: var(--gap, 1em);
}

.bg-white {
  background-color: var(--color-neutral-100);
}
.bg-light {
  background-color: var(--color-neutral-500);
}
.bg-dark {
  background-color: var(--color-neutral-900);
}
.bg-cyan {
  background-color: var(--color-cyan);
}

.text-black {
  color: var(--color-neutral-900);
}
.text-dark {
  color: var(--color-neutral-800);
}
.text-white {
  color: var(--color-neutral-100);
}

.font-medium {
  font-weight: var(--font-weight-500);
}
.font-bold {
  font-weight: var(--font-weight-700);
}

.text-center {
  text-align: center;
}

/* COMPONENTS */

.pill-link {
  background-color: var(--color-cyan);
  border-radius: 1000vw;
  color: var(--color-neutral-100);
  display: block;
  font-weight: var(--font-weight-700);
  padding: 0.5rem 1rem;
  width: fit-content;
}
