@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --clr-bg-intro: hsl(217, 28%, 15%);
  --clr-bg-main: hsl(218, 28%, 13%);
  --clr-bg-footer: hsl(216, 53%, 9%);
  --clr-bg-quotes: hsl(219, 30%, 18%);
  --clr-cyan: hsl(176, 68%, 64%);
  --clr-blue: hsl(198, 60%, 50%);
  --clr-error: hsl(0, 100%, 63%);
  --clr-body: hsl(0, 0%, 100%);

  --fs-xl: 1.5rem;
  --fs-l: 1.25rem;
  --fs-m: 0.875rem;
  --fs-s: 0.75rem;
  --fs-xs: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--clr-bg-main);
  color: var(--clr-body);
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

a {
  color: var(--clr-body);
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

header,
section,
footer,
aside {
  margin: 0 auto;
  max-width: 375px;
  width: 95%;
  padding: 1em;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 30%;
}

.header__nav {
  width: 50%;
}

.header__nav-list {
  display: flex;
  justify-content: space-around;
  font-size: var(--fs-m);
}

.header__nav-link {
  opacity: 0.66;
}

.header__nav-link:hover,
.header__nav-link:focus-visible {
  opacity: 1;
  outline: none;
}

.section__title {
  text-align: center;
  font-size: var(--fs-l);
  padding-block: 1em;
}

.hero__title {
  font-size: var(--fs-xl);
  line-height: 2.33rem;
}

.section__body {
  text-align: center;
  font-size: var(--fs-m);
  line-height: 1.5rem;
  opacity: 0.8;
}

.section__button {
  background-image: linear-gradient(to right, var(--clr-cyan), var(--clr-blue));
  border-radius: 100em;
  border: 0;
  color: var(--clr-body);
  display: block;
  font-family: inherit;
  font-size: var(--fs-m);
  font-weight: 700;
  margin: 1em auto;
  padding: 1.1em 0;
  width: 90%;
}
