@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --clr-bg-intro: hsl(217, 28%, 15%);
  --clr-bg-main: hsl(218, 28%, 13%);
  --clr-bg-footer: hsl(216, 53%, 9%);
  --clr-bg-quotes: hsl(219, 30%, 18%);
  --clr-cyan: hsl(176, 68%, 64%);
  --clr-blue: hsl(198, 60%, 50%);
  --clr-error: hsl(0, 100%, 63%);
  --clr-body: hsl(0, 0%, 100%);

  --fs-xl: 1.5rem;
  --fs-l: 1.25rem;
  --fs-m: 0.875rem;
  --fs-s: 0.75rem;
  --fs-xs: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--clr-bg-main);
  color: var(--clr-body);
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

a {
  color: var(--clr-body);
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

section,
aside {
  margin: 0 auto;
  max-width: 375px;
  width: 95%;
  padding: 1em;
}

.header {
  background-color: var(--clr-bg-intro);
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  width: 95%;
  max-width: 370px;
  margin: 0 auto;
}

.header__logo {
  width: 25%;
}

.header__nav {
  width: 70%;
}

.header__nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 1.5em;
  font-family: "Raleway", sans-serif;
  font-size: var(--fs-m);
}

.header__nav-link {
  opacity: 0.66;
}

.header__nav-link:hover,
.header__nav-link:focus-visible {
  opacity: 1;
  outline: none;
}

.main {
  position: relative;
}

.section.section--hero {
  background-image: linear-gradient(hsl(217, 28%, 15%), hsl(218, 28%, 13%));
  width: 100%;
  max-width: 100%;
}

.hero-container {
  margin: 0 auto;
  max-width: 375px;
  width: 95%;
  padding: 1em;
}

.section__img {
  margin-block: 1em;
}

.section__title {
  text-align: center;
  font-size: var(--fs-l);
  padding-block: 1em;
}

.hero__title {
  font-size: var(--fs-xl);
  line-height: 2.33rem;
}

.section__body {
  text-align: center;
  font-size: var(--fs-m);
  line-height: 1.5rem;
  opacity: 0.8;
}

.section__button {
  background-image: linear-gradient(to right, var(--clr-cyan), var(--clr-blue));
  border-radius: 100em;
  border: 0;
  color: var(--clr-body);
  display: block;
  font-family: inherit;
  font-size: var(--fs-m);
  font-weight: 700;
  margin: 1em auto;
  padding: 1.1em 0;
  width: 90%;
}

.points__point {
  padding: 1em;
  margin-block: 3em;
}

.point__img {
  display: block;
  margin: 0 auto;
}

.section--productive .section__body {
  text-align: left;
}

.section__link-container {
  padding-bottom: 5px;
  align-items: center;
  width: 47.5%;
  border-bottom: 1px solid var(--clr-cyan);
  display: flex;
  justify-content: space-between;
}

.section__link {
  color: var(--clr-cyan);
  font-size: var(--fs-m);
}

.link__img {
  width: 12.5%;
}

.quotes__quote {
  background-color: var(--clr-bg-quotes);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-inline: auto;
  padding: 1em;
  width: 90%;
}

.quotes__quote:first-of-type {
  margin-top: 4em;
}

.quotes__quote + .quotes__quote {
  margin-top: 2em;
}

.quote__body {
  text-align: left;
  font-size: var(--fs-s);
}

.quote__info {
  margin-block: 1em 0;
  align-items: center;
  display: flex;
  gap: 1em;
}

.quote__img {
  border-radius: 50%;
  width: 14%;
}

.quote__name {
  font-size: var(--fs-m);
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}

.quote__position {
  font-size: var(--fs-xs);
  letter-spacing: 1px;
  opacity: 0.8;
}

.early-access {
  background-color: var(--clr-bg-quotes);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 1em;
  position: relative;
  top: 10em;
}

.early-access__label {
  visibility: hidden;
  position: absolute;
}

.early-access__input {
  display: block;
  border-radius: 100em;
  font-size: var(--fs-m);
  margin: 1em auto 0 auto;
  width: 90%;
  padding: 1.25em 2em;
}

.early-access__error {
  font-size: var(--fs-s);
  color: var(--clr-error);
  margin: 0 auto;
  display: block;
  width: fit-content;
  padding: 0;
  visibility: hidden;
}

.footer {
  background-color: var(--clr-bg-footer);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5em;
  margin: 0 auto;
  max-width: 375px;
  padding: 15em 1em 1em 1em;
  width: 95%;
  min-height: 100vh;
}

.footer__logo {
  width: 60%;
  margin-bottom: 3em;
}

.footer__contact {
  align-items: center;
  display: flex;
  gap: 1em;
}

.footer__contact + .footer__contact {
  margin-top: 1em;
}

.footer__contact .section__body {
  text-align: left;
}

.footer__contact:first-of-type .section__body {
  padding-left: 5px;
}

.footer__contact:first-of-type .footer__icon {
  align-self: flex-start;
}

.footer__nav-item + .footer__nav-item {
  margin-top: 1em;
}

.footer__nav-link {
  opacity: 0.66;
}

.footer__nav-link:hover,
.footer__nav-link:focus-visible {
  opacity: 1;
  outline: none;
}

.footer__socials {
  margin: 0 auto;
}

.footer__socials-list {
  display: flex;
  gap: 0.5em;
}

.footer__socials-item {
  border: 1px solid var(--clr-body);
  border-radius: 50%;
  font-size: var(--fs-l);
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.footer__socials-item:hover,
.footer__socials-item:focus-visible {
  border-color: var(--clr-cyan);
}

.footer__socials-link:hover,
.footer__socials-link:focus-visible {
  color: var(--clr-cyan);
  outline: none;
}
